[2017-04-12 02:46] sivaadde opened #1 "Create Learner Registration Form"
[HBB Process Flow_v1.pdf](https://github.com/sivaadde/custom_dhis2_tracker/files/959831/HBB.Process.Flow_v1.pdf)
 1. Create required tracker data elements
 2. Create an appropriate tracker program with all the required data elements
 3. Add relationship to the form (Learner -> Master trainer)

[2017-04-12 02:47] sivaadde opened #2 "Create Pre-assessment Form"
[HBB Process Flow_v1.pdf](https://github.com/sivaadde/custom_dhis2_tracker/files/959826/HBB.Process.Flow_v1.pdf)
1. Add 17 questions as data elements with the required options.
2. Create a new form with the above data elements.
3. Create relationship in the form (Learner -> Master trainer).

[2017-04-12 02:52] sivaadde opened #3 "Provide access to Provider’s Guide for BMV"
This Information can be obtained from the following Link:
https://www.aap.org/en-us/advocacy-and-policy/aap-health-initiatives/helping-babies-survive/Pages/Course-Materials.aspx
https://www.aap.org/en-us/advocacy-and-policy/aap-health-initiatives/helping-babies-survive/Pages/Instructional-Videos.aspx

[2017-04-12 02:53] sivaadde opened #4 "Create Knowledge check"
[Knowledge-Check-HBB-2nd-Edition.pdf](https://github.com/sivaadde/custom_dhis2_tracker/files/942464/Knowledge-Check-HBB-2nd-Edition.pdf)
[Answer-Key-KnowledgeCheck-HBB-2nd-Edition.pdf](https://github.com/sivaadde/custom_dhis2_tracker/files/942474/Answer-Key-KnowledgeCheck-HBB-2nd-Edition.pdf)

1. Create 18 data elements with the required options
2. Create 72 category options
3. Match the category

[2017-04-12 02:54] sivaadde opened #5 "Create BMV Skill check"
[BMV-Skills-Check-HBB-2nd-Edition.pdf](https://github.com/sivaadde/custom_dhis2_tracker/files/942491/BMV-Skills-Check-HBB-2nd-Edition.pdf)
1. Create 14 data elements with “yes only” option checkbox.
2. Create an appropriate program with these questions made available after training.
3. Should be able to generate score.

- [ ] Issue 62 is related task and need to be closed and completed before this

[2017-04-12 02:55] sivaadde opened #6 "Create OSCE A for Learners"
[OSCEs-A-HBB-2nd-Edition-1.pdf](https://github.com/sivaadde/custom_dhis2_tracker/files/959812/OSCEs-A-HBB-2nd-Edition-1.pdf)

1. Create 12 data elements with “yes only” option check boxes.
2. Create an appropriate program with these questions made available after training.
3. Should be able to generate score.
4. Create 5 text box questions to reflect participant performance

[2017-04-12 02:56] sivaadde opened #7 "Create OSCE B for Learners"
[OSCEs-B-HBB-2nd-Edition.pdf](https://github.com/sivaadde/custom_dhis2_tracker/files/959808/OSCEs-B-HBB-2nd-Edition.pdf)

1. Create 23 data elements with “yes only” option check boxes.
2. Create an appropriate program with these questions made available after training.
3. Should be able to generate score.
4. Create 5 text box questions to reflect participant performance

[2017-04-12 02:57] sivaadde opened #8 "Resuscitation debriefing form for providers"
1. Create all the required tracker data elements.
2. On reporting of the event master trainers must be notified.
3. Must be accessible to the user always.

[2017-04-12 02:58] sivaadde opened #9 "Perinatal Death Audit for Providers"
1. Create all the required tracker data elements.
2. On reporting of the event master trainers must be notified.
3. Must be accessible to the user always.

[2017-04-12 03:00] sivaadde opened #10 "Access to all assessment instruments for Providers"
Providers must have access to knowledge check, BMV, and OSCEs at all times.

[2017-04-12 03:01] sivaadde opened #11 "Create Self reporting of training and practice for providers"
1. Create the required tracker data elements.
2. On reporting of the event master trainers must be notified.
3. Must be accessible to the user always.

<issue priority>:<prio:low>

[2017-05-18 14:49] sivaadde opened #12 "Create Delivery check list"
[HB11_Delivery_Checklist_2013 03 05.pdf](https://github.com/sivaadde/custom_dhis2_tracker/files/1011263/HB11_Delivery_Checklist_2013.03.05.pdf)

1. Create all the fields as tracker data elements.
2. Should be available to all providers and master trainers.

[2017-05-18 14:57] sivaadde opened #13 "Quality Improvement Monitoring visit checklist"
[HB12_QI_Visit_ 2013 03 25.pdf](https://github.com/sivaadde/custom_dhis2_tracker/files/1011288/HB12_QI_Visit_.2013.03.25.pdf)

[2017-05-18 23:58] sivaadde opened #14 "Create BMGF Indicators"
[BMGF indicators.pdf](https://github.com/sivaadde/custom_dhis2_tracker/files/1012729/BMGF.indicators.pdf)

[2017-05-19 20:50] sivaadde opened #15 "Collect all the Training Videos to be included in the new app"

[2017-05-28 03:00] sivaadde opened #16 "Create a Screen capture on how to build the project and add a readme page for mHBS tracker project"

[2017-05-31 21:35] kalfala opened #17 "collect all training video"
on this site, collect all the training video for the new app.

[2017-06-07 00:35] phoenigmatic opened #18 "Links to Resources to help understand how DHIS2 works"
Kindly go through the following links to have a better understanding of DHIS2

1.	DHIS2: Features and Data Dimensions
https://www.youtube.com/watch?v=EOIrQ1KGnaY&t=47s&list=PLikYXxFzq9QKapLZnD9g9oOjhZz3heZ7o&index=1
2.	Data Elements
https://www.youtube.com/watch?v=3Nu7AmGfU3Q&list=PLikYXxFzq9QKapLZnD9g9oOjhZz3heZ7o&index=5
3.	Data Sets
https://www.youtube.com/watch?v=LB1AAL0dY_g&list=PLikYXxFzq9QK

[2017-06-08 14:53] phoenigmatic commented on #18
[HBB_DataElement_Rulebook.xlsx](https://github.com/iupui-soic/mHBS_tracker/files/1061382/HBB_DataElement_Rulebook.xlsx)

Please see an Example of how Data Elements should be created. A format was defined using Quality Improvement Monitoring form. It is important to consider individual data capture method,data types  and other components of a form before creating data elements.

[2017-06-11 02:19] sivaadde commented on #16
Readme page added and the link for screen capture video: https://youtu.be/8sJVdGz_mJw

[2017-06-11 02:19] #16 closed

[2017-06-12 16:32] phoenigmatic commented on #8
There is a need to create a form for this. This woud guide us to get information about:

    **M**ask is tightly applied to the face
    **R**e-position the head into the “sniffing” orientation
    **S**uction the nares and the pharynx
    **O**pen the mouth
    **P**ressure of PPV can be increased to a max of 40 cm H2O
    **A**lternate airway, i.e. ET, should be considered and planned for

[2017-06-12 17:57] kalfala commented on #15
Collect training videos. All training videos to be included in the apps collected. https://www.youtube.com/watch?v=B6jEgEexbEU
https://www.youtube.com/watch?v=PINr6u_VuwY
https://www.youtube.com/watch?v=h-QnKT-moeY
https://www.youtube.com/watch?v=mItAnx0vgcM
https://www.youtube.com/watch?v=fD1766gNRQM
https://www.youtube.com/watch?v=0WhEtCygUJM
https://vimeo.com/80456506
https://vimeo.com/72723118

[2017-06-12 18:33] sivaadde opened #19 "Create a reminder notifications based on a data element created."

[2017-06-12 18:35] sivaadde opened #20 "Identify design rules from the existing application"

[2017-06-13 17:44] Ezmeyers commented on #20
[design_needs.docx](https://github.com/iupui-soic/mHBS_tracker/files/1072340/design_needs.docx)

Here are the preliminary design observations, considerations, constraints and additional reading material where applicable. I will be working with @tchilders95 on the design this week in addition, so we will be discussing this in person as well.

[2017-06-15 02:17] Ezmeyers commented on #15
@kalfala https://globalhealthmedia.org/videos/

[2017-06-15 16:32] phoenigmatic opened #21 "Compressed Neonatal Resuscitation Training Videos for the APP"

[2017-06-15 17:33] phoenigmatic commented on #21
**Original Video 1**
http://ldsudso-a.akamaihd.net/66852713001/66852713001_1640711451001_2011-05-23-dr-congo-neonatal-resuscitation-training-8000k-eng.mp4?playerId=710849472001&lineupId=&affiliateId=&pubId=710874264001&videoId=1644422757001

**Compressed Video 1**
https://drive.google.com/file/d/0B_JCL3n6z6stRmtNcW9hZUVjalU/view?usp=sharing

**Original Video 1**

*Compressed Video 1**
https://driv

[2017-06-16 18:30] sivaadde opened #22 "Package information for the web server link on mHBS login page"
Should be able to change the web server link with a setting. (OTA)

[2017-06-16 18:39] sivaadde opened #23 "UI design for the mHBS training application"

[2017-06-16 18:54] tchilders95 opened #24 "Links to Viewable mhbs designs-"
Taylor Childers Mock Up -
https://marvelapp.com/49j44d3/screen/29355015

[2017-06-17 00:10] Ezmeyers commented on #24
[app_design_meyers.pdf](https://github.com/iupui-soic/mHBS_tracker/files/1082188/app_design_meyers.pdf)

Here is the app design #2. It is an interactive pdf, arrows will show where the app pages can be clicked.

[2017-06-20 14:41] Ezmeyers commented on #2
Just making a comment (as discussed with Siva) this issue is the same as #4

[2017-06-20 15:56] Ezmeyers commented on #5
This form has been created with the specified elements.
I will be doing some testing on the best way to add instructions as the section management doesn't work so well for this.

[2017-06-20 19:10] Ezmeyers commented on #7
OSCEB has been created. Currently working on figuring out the best way to encoporate instructions. Sections will be used if necessary, but not ideal.

@tchilders95  The appearance of program stages are showing up in the wrong order for me, can you confirm this? If so, we will need to figure out the issue

[2017-06-23 02:58] Ezmeyers commented on #4
@tchilders95 question answers need to be changed

[2017-06-23 03:10] Ezmeyers commented on #7
We can include prompts using validation rules, which I think makes it easier for the person filling out the form. In order to include them I deleted the sections, but now there is a glitch where sections are still showing up for me even after syncing and deleting local data and logging back in. Hopefully it's just on my device.

[2017-06-23 17:07] sivaadde opened #25 "Create a new android studio project for mHBS Training application."

[2017-06-23 17:18] phoenigmatic opened #26 "Steps To Create Data Elements"
Ind attached the steps required to create a Data Element

[DE creation Process Flow_V1.docx](https://github.com/iupui-soic/mHBS_tracker/files/1098530/DE.creation.Process.Flow_V1.docx)

[2017-06-27 05:12] tchilders95 opened #27 "Wireframe Prototype 2/High Fidelity Prototype"
This is a rough draft created after discussing features and implementation between Liz and I. There are aspects currently missing from this wireframe with odd naming conventions, but the purpose  was to gain better grasp on issues currently present with both our designs and how to remedy them. A high fidelity prototype using google material will take its place tomorrow night on this issues page wi

[2017-06-27 05:14] #23 closed

[2017-06-27 17:44] Ezmeyers commented on #1
Added cumpulsory questions. Added all prompts to BMV, OSCEA/B
Will discuss later how to best handle numbered "prompts" at next meeting (this is something that can easily be changed later) Will need to discuss scoring still.

[2017-06-27 18:17] Ezmeyers commented on #12
We need to delete this from HBB process, need to delete tracker data to do so

[2017-06-27 20:43] sivaadde opened #28 "Provide LoginReceiver in tracker-capture to send logged in user info to other apps of mHBS suite"
https://github.com/iupui-soic/dhis2-android-trackercapture needs to be able to listen to requests for login information from other apps and provide them that information, so that the user does not have to login on the apps for a number of times.

Security reminder: Broadcast should only be done to apps from the mHBS suite.

[2017-06-28 20:04] SherriBucher commented on #15
Hi Kalfala--Thanks for your hard work to collect these videos into one place. Many of them are outdated based on the latest neonatal resuscitation evidence-based guideline updates.  The focus of our initial efforts will be to link with the GHM videos in the link that Liz has above, and then with the HBB Facilitator videos you have in the first comment. Please also note, there are videos specifical

[2017-06-28 20:13] SherriBucher commented on #13
Kalfala, I think you are using an older form above--please use this one:
[mHBB12_QI Visit_v1a_word_28June2017.pdf](https://github.com/iupui-soic/mHBS_tracker/files/1110090/mHBB12_QI.Visit_v1a_word_28June2017.pdf)

[2017-06-28 20:16] SherriBucher commented on #11
Hi Liz--Is this the weekly practice in terms of using the manikin to do bag-and-mask ventilation training, or is this what we were calling the Learner Registration form in mHBB?  Best, Dr. Bucher

[2017-06-28 20:19] kalfala commented on #13
The form that I used was the one attached to the ticket that was created,
and did not know that it was outdated. I will go ahead and use the one in
the link that you just sent.

kalfala sannoh

On Wed, Jun 28, 2017 at 4:13 PM, Dr. Sherri Bucher <notifications@github.com

[2017-06-29 01:04] tchilders95 commented on #27
MHBS Prototype High Fidelity Version 1:

https://marvelapp.com/3d3b8fh/screen/29877174

Current problems:
-Currently missing course screens which I will finish tomorrow.
-Will create hamburger menus tomorrow.
-Add Comments to design.

[2017-06-29 14:23] Ezmeyers commented on #11
Hello Dr. Bucher, from what I understand this is going to be a questionnaire to assess the usefulness of training that is self-directed (use of videos in the new app) to establish a link between outcomes and efficacy of the training app. @sivaadde is this correct? I was going to ask for clarification on this because some metrics seem like they can be collected in the system since we will have data

[2017-06-29 14:41] Ezmeyers opened #29 "Links to non-video training materials"
We will need some non-video training materials for testing of the app when the time comes (can be from HBB:ECEB/ESCEB/ etc.). Infographics and PDF's will be useful. Additionally, if there are resources tied to training videos we can make a note of that for the courses section.

[2017-06-29 15:28] phoenigmatic commented on #12
[mHBB11_Delivery Observation Checklist_v3_11Dec2013.docx](https://github.com/iupui-soic/mHBS_tracker/files/1112566/mHBB11_Delivery.Observation.Checklist_v3_11Dec2013.docx)

Data Elements already created should be updated with the attached form.

[2017-06-29 15:33] sivaadde commented on #11
@Ezmeyers Yes this for providers, and they would be reporting the practice using manikin in the facility which is not mandatory (voluntary) and the reporting parameters may include time spent, activities performed and so on. This should be available to all providers and on completion of the form the respective trainers should be notified.  @SherriBucher  Is it correct Dr.Bucher.

[2017-06-29 15:39] Ezmeyers commented on #11
@sivaadde Thank you, I understand and am working on it now!

[2017-06-29 18:44] SherriBucher commented on #11
Hi @Ezmeyers  and @sivaadde --Agreed to all above.  Liz, keep doing what you are doing and we will look over it tomorrow, if you have it ready.

In the meantime, let me expand a bit on the discussion, which we can also chat about more at tomorrow's team meeting, if you wish.

In short, we will be evaluating the ways that end-users interact with the mHBS powered by DHIS2 platform, and assessing the

[2017-06-29 19:04] SherriBucher commented on #29
@Ezmeyers @tchilders95 , @sunbiz  and I have discussed that we may want to start, very simply, with linking with 2 existing apps that have already been created by an Indian collaborator and are available via Google play.

So, have a way within the mHBS powered by DHIS2 app whereby users can simply open up these existing apps for ECEB and ECSB. FYI @sivaadde

https://play.google.com/store/apps/deta

[2017-06-29 19:08] SherriBucher commented on #27
Thanks, @tchilders95 , I look forward to hearing/seeing more tomorrow!

[2017-06-29 19:09] SherriBucher commented on #13
Thanks, @kalfala , no problem.

[2017-06-29 19:10] SherriBucher commented on #12
Thanks, @phoenigmatic

[2017-06-29 20:52] SherriBucher commented on #8
@phoenigmatic and all, please use this form:
[mHBS_Resuscitation Debriefing_v3_June2017.pdf](https://github.com/iupui-soic/mHBS_tracker/files/1113493/mHBS_Resuscitation.Debriefing_v3_June2017.pdf)

[2017-06-29 20:54] SherriBucher commented on #3
Here is the file:

[HBB 2.0 Provider Guide.pdf](https://github.com/iupui-soic/mHBS_tracker/files/1113497/HBB.2.0.Provider.Guide.pdf)

[2017-06-29 21:00] sivaadde commented on #29
@SherriBucher Dr. Bucher the existing mHBS powered by DHIS2 app (tracker capture app) has links to these apps, it can open these apps from it if they are installed on the device.

[2017-06-29 21:00] SherriBucher commented on #15
@sivaadde @kalfala @sunbiz @Ezmeyers  Please also note that **simply connecting with the ORB platform via the mHBS app would be really useful****, as they have lots of evidence-based videos AND PDF materials from our partners such as Maternal and Child Survival Program, Global Health Media, etc  http://health-orb.org/

[2017-06-29 21:03] SherriBucher commented on #9
I will provide a form template for this, please ask me for it before proceeding to program this. Thanks!

[2017-06-29 21:08] SherriBucher commented on #1
Hi everyone--We actually do need a specific learner registration form, for health care providers to fill out when they initially register within the mHBS system--in mHBB (first prototype), it was called a Learner Registration, because people were only registering for courses--but for our purposes, it will be renamed the mHBS user registration form. We can discuss further, and I will create a templ

[2017-06-29 21:17] shbucher commented on #29
@sivaadde, great, thanks!!

[2017-06-29 22:09] Ezmeyers commented on #11
@SherriBucher Thank you for all the information! It's great that the end goal would be to cover all areas of training from understanding how often self-study manikan training is done as well as app coverage so training can be looked at from multiple aspects to see where gaps may be. I have put together some questions appropriate for the self reporting (with the help of some literature I looked at)

[2017-07-03 17:41] #20 closed

[2017-07-04 02:17] sivaadde opened #30 "Test Video activity on the application"

[2017-07-04 04:18] phoenigmatic commented on #30
AVI
https://drive.google.com/open?id=0B_JCL3n6z6stNmZkUk1KaXp3LW8
WebMD
https://drive.google.com/open?id=0B_JCL3n6z6stbnFpeWVvRmNBLVk

[2017-07-04 15:53] sivaadde commented on #30
@tchilders95  You can use these videos which are converted to test.

[2017-07-05 19:20] tchilders95 opened #31 "Create Base Home Screen UI"
Create the base home screen of the app (click comments for more details)

https://marvelapp.com/3d3b8fh/screen/29877172

[2017-07-05 19:23] tchilders95 opened #32 "Create Nav"
Create nav menu

https://marvelapp.com/3d3b8fh/screen/29941910

[2017-07-05 19:34] tchilders95 opened #33 "Create list fragment"
Create lists.

https://marvelapp.com/3d3b8fh/screen/29877178

[2017-07-05 19:40] tchilders95 opened #34 "Create PDF Reader"
Create PDF Reader

https://marvelapp.com/3d3b8fh/screen/29877175

[2017-07-05 21:31] tchilders95 commented on #30
AVI is not a supported format as per specified by the android media formats guide:

https://developer.android.com/guide/topics/media/media-formats.html

Please reformat these to a useable format such as .mp4 or .3gp

[2017-07-05 22:16] phoenigmatic commented on #30
Can we try the WebM?

[2017-07-07 00:23] tchilders95 commented on #30
After working with it for today I figured a work around to make WebM work on both downloads and streaming. No worries thanks.

[2017-07-07 22:09] shbucher commented on #34
Hi @tchilders95-- I am excited to see that you are working on this issue!  There are certain HBS educational materials which are presented in pdf format, and which I think will be accessed and utilized by many different types of end-users, once we make them available within the mHBS powered by DHIS2 app.  These include:  Facilitator Flip Charts, Action Plans, and Parents' Guides.

In particular, I

[2017-07-07 22:29] shbucher commented on #34
@tchilders95: Here are the Helping Babies Breathe educational materials in pdf format--these probably go under the "Course" tab.

Please note that, the American Academy of Pediatrics already archives all the Helping Babies Survive educational materials, in many languages, at their "international resources" page. Simply linking to this via the mHBS powered by DHIS2 app is much preferable to us dupl

[2017-07-10 16:33] sivaadde opened #35 "Update the current tracker application"
DHIS2 has released a latest version of tracker application which has a lot of bug fixes. Update our tracker application to this version.
Link for the tracker repository ->  https://github.com/dhis2/dhis2-android-trackercapture

[2017-07-10 16:43] sivaadde opened #36 "Track app usage data"
This data should be stored as a DHIS2 dataset.

[2017-07-12 19:21] Ezmeyers commented on #33
Skeleton of this has been done with dummy data and added to all 3 activities which need to call upon it. Need to add back button  implementation and search icon to app bar

[2017-07-12 19:22] Ezmeyers commented on #31
@jmfranci has done this just needs to add the search icon

[2017-07-13 20:06] jmfranci commented on #28
Created a Login Broadcast sender and a Login Broadcast receiver. Training app receives the broadcast when  a dhis2 login is finished successfully.

[2017-07-13 20:06] jmfranci commented on #31
Home screen UI is created. Icons will be updated to work with Android 4.1.

[2017-07-13 20:06] #31 closed

[2017-07-13 21:57] Ezmeyers opened #37 "Add search Icons to the app bar & update icons for 4.1"
The search icons are currently missing and need to be added

[2017-07-13 22:21] Ezmeyers opened #38 "Create buttons for ProgramPortalActivity with mHBS programs"
There is an existing activity labeled "ProgramPortalActivity," which will have images as buttons which represent the different programs as discussed.

[2017-07-13 22:23] Ezmeyers opened #39 "Create preliminary videos and PDFs in DHIS2 and pull them in through our app"
Tasks will include creation of adapter to handle data on the learner tracker end and modification of list activity to support handling the different data types.

[2017-07-13 22:40] Ezmeyers commented on #35
will complete this tomorrow thanks @sivaadde for letting us know

[2017-07-14 20:01] Ezmeyers commented on #38
https://marvelapp.com/3d3b8fh/screen/30432520

[2017-07-16 20:29] Ezmeyers commented on #35
I'm not sure how to proceed with this because I'm having multiple issues with the new tracker capture. You can see for yourself by this:

https://github.com/dhis2/dhis2-android-trackercapture/search?utf8=%E2%9C%93&q=getLastEnrollment&type=

As you can see, this function is called, but it does not exist anywhere in the SDK (master, 2.23 legacy, or branch @3f7db1adba which is the commit being used a

[2017-07-16 20:38] sivaadde commented on #35
@ezmeyers You have to update the android sdk to the current version.

[2017-07-16 20:43] sivaadde commented on #35
@ezmeyers this is the link for sdk https://github.com/dhis2/dhis2-android-sdk
(Just check the tracker capture branch of the sdk which is new sdk )

[2017-07-16 20:58] Ezmeyers commented on #35
@sivaadde I have done this. If you search the new SDK there are no functions named "getLastEnrollment" in it. But it's not only this function, there's other pieces not in the new SDK but called by tracker capture...

[2017-07-16 21:03] sivaadde commented on #35
@ezmeyers I don't have access to my computer at the moment are you taking about the new sdk folder added to the dhis2 tracker project

[2017-07-16 21:08] Ezmeyers commented on #35
@sivaadde
No; I know that the setup we are using right now is for legacy-2.23 correct? So we have dhis2-android-sdk (legacy-2.23) and dhis2-android-new-sdk (legacy tracker-capture)

Now for the new tracker capture, I made a clean repo to try and get it working with a brand new SDK clone. using the same setup we have (I tried it with both master and legacy). I've tried a combination of many things,

[2017-07-16 21:09] Ezmeyers commented on #28
@jmfranci can you push your changes with core SDK compilation? I need it for #39 thanks

[2017-07-16 21:25] sivaadde commented on #35
@ezmeyers this is correct. Try using the source code from the release page. https://github.com/dhis2/dhis2-android-trackercapture/releases

Hope this helps.

[2017-07-16 21:31] Ezmeyers commented on #35
@sivaadde Will do thank you!

[2017-07-16 21:52] Ezmeyers commented on #35
@sivaadde

Error:(829, 54) error: cannot find symbol method getLastEnrollment(String,TrackedEntityInstance)
It throws the same error in org.hisp.dhis.android.trackercapture.fragments.programoverview.ProgramOverviewFragment
 that I've been dealing with all weekend. :/

If I create a blank function getLastEnrollment() to get rid of the error, even more functions, resources and even whole classes are

[2017-07-16 23:09] #33 closed

[2017-07-16 23:10] #32 closed

[2017-07-16 23:10] #30 closed

[2017-07-16 23:18] Ezmeyers commented on #39
Pdf and video uploaded for testing in resources on DHIS2. We decided to use the SDK afterall and @jmfranci has bundled it and made a broadcast with capture tracker. Once we get the commit up I can start pulling in the data.

[2017-07-17 04:50] sunbiz commented on #39
I would advice against making changes to the SDK. We might be upgrading to a newer release of the SDK and so it might not be a good idea to make changes to the SDK. Better to make these changes in the tracker capture app or the training app.

[2017-07-17 06:15] Ezmeyers commented on #39
Yeah, we don't want to touch the SDK, I just meant compiling it within our training app, which we don't currently have. Sorry for the lack of clarity!

[2017-07-21 16:01] Ezmeyers commented on #37
@jmfranci Master branch had some critical issues as discussed so reverted to prior version as we discussed. In the side bar clicking "information" pulls up the search activity. This is just for testing. We will need to remove this link. We need to add the search icons to the top app bar. If you want to change search activity to a fragment instead of activity, that is fine; it is at your discretion

[2017-07-24 23:58] sivaadde opened #40 "Update on form creation on DHIS2"
@iupui-soic/mhbs-muri This is just to track progress on form creation process in DHIS2.

- [ ] Learner Registration Form #1
- [ ] Pre-assessment Form #2
- [x] Knowledge Check #4
- [x] BMV Skill Check #5
- [x] OSCE A #6
- [x] OSCE B #7
- [x] Resuscitation debriefing Form #8
- [x] Perinatal Death Audit #9
- [ ] Self Reporting of trianing and practice for providers #11
- [x] Delivery Checklist #12
-

[2017-07-26 02:15] Ezmeyers commented on #40
@sivaadde #4 #5 #6 and #7 are finished except for scoring options....so we can't really consider they are "done." I think #2 was done by @tchilders95 but I'm not sure about that one.

[2017-07-31 17:38] Ezmeyers commented on #40
On #12 Delivery Checklist other options were not added

[2017-07-31 17:41] #38 closed

[2017-07-31 17:41] #37 closed

[2017-07-31 17:47] #29 closed

[2017-07-31 18:06] #27 closed

[2017-07-31 18:07] #25 closed

[2017-07-31 18:07] #24 closed

[2017-07-31 18:10] #15 closed

[2017-07-31 18:11] #13 closed

[2017-07-31 18:11] #11 closed

[2017-08-02 03:00] Ezmeyers opened #41 "Documentation on current programming status for future devs"
Please find a guide attached on development, what has been done with development, what went wrong/has been tried with the pulling of data and suggestions for moving forward. This guide omits pieces that @tchilders95 has done, which he will upload as another document and attach here.

[2017-08-03 02:55] tchilders95 commented on #41
[mHBS_LearnerTracker_dev_guide.v2.docx](https://github.com/iupui-soic/mHBS_tracker/files/1195834/mHBS_LearnerTracker_dev_guide.v2.docx)
This is the dev guide combining my information with @Ezmeyers. Information I added regards the download functionality along with the logical flow of pdf and video population.

[2017-08-03 16:47] shbucher commented on #41
This is great, @Ezmeyers @tchilders95!

[2017-08-03 16:56] sunbiz commented on #41
Very impressed with the detail in the documentation. Excellent work!!

[2017-08-03 21:29] shbucher commented on #9
@kalfala  , here is the revised Perinatal Death Audit form. If you can get this digitized within mHBS powered by DHIS2, that would be wonderful, and I would be grateful.  Best, Dr. Bucher FYI, @sivaadde @sunbiz
[Perinatal Death Audit_mHBS_v3.01August2017.pdf](https://github.com/iupui-soic/mHBS_tracker/files/1198653/Perinatal.Death.Audit_mHBS_v3.01August2017.pdf)

[2017-08-03 21:33] shbucher commented on #40
The templates for the resuscitation debriefing form and perinatal death audits form have been uploaded to the comments on the original issues.  These forms are important, as is the Delivery Observation Form, as they contain fields for numerators and denominators from which some of our key indicators will be aggregated. FYI, @phoenigmatic

[2017-08-03 21:33] shbucher commented on #41
Agreed with Dr, Saptarshi, a really stellar job. Well done, @Ezmeyers @tchilders95

[2017-08-03 23:34] shbucher opened #42 "Linking other apps with mHBS"
I want to open an issue where we collect other apps to which we may want to link from within the mHBS app.  These are specific apps such as for drug or feeding volume calculation, etc.  Linking to other active apps is slightly different, from a content perspective, as compared to linking with other educational videos or pdf resources.  Some of these apps will be very general, others will be more s

[2017-08-04 00:07] kalfala commented on #9
Hi Dr. Bucher,

I will get it done earliest tomorrow.

Thanks.

On Thursday, August 3, 2017, Sherri Bucher <notifications@github.com> wrote:

--
kalfala sannoh

[2017-10-25 20:36] sivaadde opened #43 "Create a Time Widget for inputting time on data entry forms"
Tracker forms should display a time widget for inputting time data in tracker capture forms.

[2017-10-25 20:54] sivaadde opened #44 "Role based restricted access for viewing tracked entities"
Limit user access to only to tracked entities registered by the user.

[2017-10-25 21:00] sivaadde opened #45 "Create Program rules for generating score and skip logic"
Create Program rules.

[2017-10-25 21:04] sivaadde opened #46 "Create repetable data elements for data entry on tracker forms"

[2017-10-25 21:07] sivaadde opened #47 "Change App titles and in-app titles"
Change the app titles for both the tracker and learning application.

[2017-10-27 02:52] Ezmeyers opened #48 "Microcontroller setup and familiarize with TI IDE"
I discovered that the Texas instruments IDE for the microcontroller (MCU) isn't compatible with MAC or Linux. I discovered Energia is an open source IDE tool that is compatible with linux/mac and our MCU unit, so I am using that. If anyone else is using mac/linux, and will be working on this as well, I would suggest energia because it seems easy to use so far.

I have not done much coding, but I h

[2017-10-29 04:54] Ezmeyers opened #49 "Layout render errors in design view"
Attaching stack traces of rendering errors in layouts. Currently working on this issue. Errors appear when you click design view in layouts folder.
[stacktrace_imgrender.txt](https://github.com/iupui-soic/mHBS_tracker/files/1424799/stacktrace_imgrender.txt)
affects these layouts:

~~fragment_item_list~~
~~content_main~~
~~content_favorites~~
~~app_bar_main~~
~~activity_search~~
~~activity_main~~

[2017-10-29 05:03] Ezmeyers commented on #49
@sivaadde I am not sure if this is related to my IDE version can you confirm whether or not you are getting these errors

[2017-10-29 15:13] sivaadde commented on #49
@Ezmeyers Is this for the training application or the tracker application, If it's for the tracker application I wouldn't recommend making any changes at this moment.

[2017-10-29 15:42] Ezmeyers commented on #49
@sivaade yes it's only for the training app

[2017-10-29 15:56] sivaadde commented on #49
@Ezmeyers You can go ahead fix them.

[2017-10-29 16:01] Ezmeyers opened #50 "Training app login intent broadcast with tracker capture"
Add functionality where login intent is checked via broadcast to tracker capture, so when user logs in they can be automatically logged in when opening the training app.

[2017-10-29 19:20] Ezmeyers commented on #49
@sivaadde Figured out the issue. Documenting the steps here for future developers on this running into issue. Tracker capture uses com.android.support library version 23.3.0 while training uses 25.3.1. Changing to 23.3.0 on ours is too much of a time sink because our app has 25.3.1 UI features engrained throughout.

Instead, specifying the following before we use our 25.3.1 dependencies in **train

[2017-10-29 19:27] Ezmeyers commented on #49
activity_search has a separate error I'm looking into, the rest are resolved

[2017-10-29 19:47] #49 closed

[2017-10-29 19:48] Ezmeyers commented on #50
currently working on this feature

[2017-11-02 17:41] Ezmeyers commented on #48
I got temperature readouts from the internal sensor. RXD and TXD (read & transmit) jumpers had to be moved to a horizontal configuration to get the readouts like so:

![img_20171102_132911556](https://user-images.githubusercontent.com/11591786/32341038-c1f45870-bfd2-11e7-8ff2-6c27a9d3c09e.jpg)

The temperature code (c++) I got was licensed free to use, sell and distrubute (I did not write it), but

[2017-11-02 22:24] Ezmeyers opened #51 "Persistent login on training app"
create persistent login with sharedPreferences on training app

[2017-11-03 00:57] #51 closed

[2017-11-04 23:08] Ezmeyers commented on #50
I've been working on this, which is actually a bit more complex (to do materialistically) than originally expected. If we pass an intent to tracker capture, this requires modifying tracker capture to allow receiving, checking, and sending a valid flag back to training app. I am thinking making a small library using AIDL and including on both apps may be the most minimal way.

[2017-11-04 23:43] sunbiz commented on #50
Making a AIDL library seems like an overkill. Have you tried looking at sharing the userid between the apps?  - https://developer.android.com/guide/topics/manifest/manifest-element.html#uid
And then use SharedPreferences, since that is what is used by the app to store the password in the first place. We will share the same certificate when distributing, so that should be possible.

[2017-11-05 02:34] Ezmeyers commented on #50
Alright, I will try that. thanks! I did look at SharedPreferences. Will training always be tied with tracker app? I was thinking about what if the user already has tracker installed, but then there's no way to accomplish this, so they would *have* to have our version. I was still thinking I wasn't able to modify tracker, so I was trying to figure out how to do this.

One question, isn't sharedUser

[2017-11-05 02:43] sunbiz commented on #50
The uid is not the same as the DHIS2 user. Its for the underlying linux system that Android uses to run apps. Each app has its own uid. If two apps share the same uid, they can share data too.
So, when a DHIS2 user logs in or out, data is deleted, but the underlying linux user that is used to execute the app is the same.
There is a small caveat, due to a bug in Android, where we have to be careful

[2017-11-10 21:02] Ezmeyers commented on #50
Getting the user information from tracker is not a problem, but the way tracker is set up, the SplashActivity decides whether to set the next activity as login  or main activity based on if a user is logged in. on our app we aren't using a SplashActivity, which is where I ran into difficulties (and I see now why tracker has one). Is it fine to implement SplashActivity on training as well or do you

[2017-11-10 22:22] sunbiz commented on #50
SplashActivity, if it looks good, and helps in branding i.e. differentiate that training is not the same as tracker, then I would like you to add it.
I do not see why it is a necessity. But I also haven't looked at the code in long time. If you think it is necessary and solves this problem, then please do that.

[2017-11-11 18:32] Ezmeyers commented on #50
Thanks for your advice. You're right about the splash screen not being necessary. I think keeping tracker having splash screen as the only one makes sense because it's sort of the "main" hub in a way.

I think I completed this, but I need to double check again to make sure all the cases work. What I found challenging was that, if the user decides to uninstall tracker, or if training is installed b

[2017-11-12 02:58] shbucher commented on #42
Here are other potential resources to link within mHBS/DHIS2:
USAID ASSIST's quality improvement in health care eLearning module -- https://www.usaidassist.org/resources/improving-health-care-elearning-course

Survive and Thrive website:  https://surviveandthrive.org/Pages/default.aspx

[2017-11-12 03:01] shbucher commented on #48
@Ezmeyers  Thanks, Liz. Since issues are opening for NeoWarm + mHBS integration, I think we may want to invite Prof Combs to view the Github.  Thanks!

[2017-11-12 04:14] shbucher commented on #36
@sivaadde , this is probably moving into the "high priority" category.  We need these metrics for the BMGF project. @sunbiz How is this the same/different in regards to what we are capturing with Crashlytics?

[2017-11-12 04:34] sivaadde commented on #36
@shbucher Crashlytics captures a lot of usage metrics such as daily active users, new users who are using the application, user retention, the time spent by the user in the application and other measures of app usage.

[2017-11-12 04:45] shbucher commented on #36
@sivaadde . Thanks!  So are we addressing this issue wholly via Crashlytics, or does more work need to be done in this area, in regards to capturing the metrics we require for the BMGF project?

[2017-11-12 04:48] shbucher commented on #41
@Ezmeyers , please ensure that the MURI AY 2017-2018 students have read the documentation provided for the MURI Summer project by yourself and @tchilders95 , and that they are also documenting their efforts in a similar manner.  You and Taylor did a great job, and others should emulate your efforts!

[2017-11-12 04:50] shbucher commented on #43
@sivaadde , thanks for adding this issue, it is a very important one.

[2017-11-12 04:53] shbucher commented on #14
@phoenigmatic, this should be moved to the high priority category.

[2017-11-12 21:19] Ezmeyers commented on #50
Okay so there are still issues. I will try to lay out the steps here:
1) User logs into tracker application -> UserAccount object is made, which has the user credentials

2) Now at this point in time, lets say I open training app, and the user has not logged in training app yet.

I have tried:
a)  UserAccount user = MetaDataController.getUserAccount();
user ends up being null.

b) if I try get the

[2017-11-12 21:51] Ezmeyers commented on #50
Update: This whole time it was my emulator causing the issue..it does work now. However, there is a login issue happening with tracker app on my end (on master branch, not on the stuff I'm working on). Siva says he's not getting this issue, so it could be my android studio is corrupted and that was the problem the whole time...

[2017-11-13 05:47] Ezmeyers commented on #50
@sivaadde I figured it out! I had to add:

 this.AttachBaseContext(sharedContext)
where sharedContext is tracker capture's context!

[2017-11-15 01:31] Ezmeyers commented on #50
What I found out:
(From android docs):
1)
- In order to detect changes in sharedPreferences, such as a user logging in, generally you need to implement:
OnSharedPreferenceChangeListener.
However, when listening to the shared preferences of another context, you need to keep a local copy, because OnSharedPreferenceChangeListener keeps a weak hash map.
2) After implementing the local shared listener,

[2017-11-15 04:37] Ezmeyers commented on #50
@sivaadde  @sunbiz Although I can get the user credentials in real time now through shared process, I'm not sure if this is viable. Switching between apps after logging in on one causes a process error. Sharing the process for both apps seems nonviable as far as memory? But I'm not that knowledgeable on the intricacies of the process side of android.

[2017-11-15 06:58] shbucher commented on #50
@Ezmeyers , thanks for working on this issue. It is a really critical one for our on-going efforts, and I appreciate your tenacity to get it going!

[2017-11-18 05:10] Ezmeyers commented on #35
I am working on this migration. We decided to manually add the changes over in the meeting, and this will make the #50 much easier to accomplish. I believe app development in general will go quicker. Git merges when tracker-capture updates will be feasible after this is completed, so this is going to be really great for us.

[2017-11-20 01:54] Ezmeyers commented on #35
I've completed the styling updates on the tracker, will add crashlytics tomorrow. Then I'll work on making sure the training app follows this new structure! I've added the keyword "mod:" to comments wherever I made changes on tracker, just to make it easier internally to see changes. Also, I set it up so the SDK doesn't need modification, therefore developers can run the app using submodules if th

[2017-11-20 03:58] shbucher commented on #35
Thanks for the updates, @Ezmeyers !  You are doing a great job documenting on Github.  Much appreciation, keep it up!. Dr. Bucher

[2017-11-21 05:35] Ezmeyers commented on #35
Added the custom apps to the drawer, that was something I forgot to do. So _now_ crashlytics is next, and then I will work on migrating training to the new format as well.

[2017-11-26 02:17] Ezmeyers commented on #35
I just updated tracker to the new version from 2 days ago, handled merge conflicts, and tested that it's working. Crashlytics should be up. I'm working on changing training over

[2017-11-26 03:43] sivaadde commented on #35
@Ezmeyers Thank you for the update. Can you also add a link to the new trackercapture repository we have created on the readme page.

[2017-11-26 04:10] Ezmeyers opened #52 "Update training app"
Now that tracker is updated, training app should also be updated to match the new setup for tracker-capture.

[2017-11-26 04:40] #35 closed

[2017-11-28 19:23] sunbiz commented on #44
Couple of ideas for this:
- in the search only show entities that user has created
- disable search and by default load only the entities that user has created

[2017-11-28 19:32] sunbiz opened #53 "Allow changing order in which data elements"
Allow under settings to randomly show the order of questions. This is in particular for the Knowledge checklist, but should be adjustable based on the setting on the DHIS2.
First pass: Random question
Second pass: Random options + random elements
Third pass: Selection from a list of data elements (number)

[2017-11-28 19:39] #47 closed

[2017-11-28 19:40] Ezmeyers opened #54 "User story for new NeoWarm mobile app"
Create user story with ~15 features /use cases

[2017-11-28 20:10] sunbiz commented on #36
Create a DHIS2 program (appusage), with a stage for the user which has usage data elements. The program should have write access for trainee role, but not read access for trainee role. (TEST IF THIS THEORY WORKS!)

[2017-11-30 17:30] sivaadde opened #55 "Create a field after 'score' to indicate if trainee passed or not."
This is for all the forms Knowledge Check, OSCE A and OSCE B.

[2017-11-30 17:32] sivaadde commented on #6
- [ ] Data Elements to be changed to Yes Only type.

[2017-11-30 17:34] sivaadde commented on #5
- [ ] Data Elements to be changed to Yes Only type.

[2017-11-30 17:35] sivaadde commented on #12
Skip logic for some of the questions on Delivery Checklist.

[2017-12-02 20:49] Ezmeyers commented on #52
I've got it mostly done, but running into a bug where the screen goes blank and it there's no errors but it has some logs which deal with 12-02 15:45:45.919 24896-24975/edu.iupui.soic.biohealth.plhi.mhbs W/OpenGLRenderer: Failed to choose config with EGL_SWAP_BEHAVIOR_PRESERVED, retrying without... some other people have had the same errors with the same so I'm going to try some of the fixes and I

[2017-12-02 22:44] Ezmeyers commented on #52
Okay, so it works; I just wasn't waiting long enough. Main activitiy launches, but there's latency issues.
While I'm here, I was getting this error getslotfrombufferlocked unknown buffer, but that's apparently a known android problem related to 6.0.0 in case anyone gets that in the future. changing to 6.0.1 removes it and the error wasn't related to the latency I'm getting.

[2017-12-04 08:03] msjose276 commented on #34
I have worked on this issue. I was able to read a pdf from the resources folder "assets". Also, to make the program more flexible, I tried to read pdf from a url but it did not work. I believe it will just take a little more time but I will make it work. Now, I have problems connecting passing the name of the pdf to the new activity but It will not take long.

[2017-12-05 02:45] Ezmeyers commented on #52
I finished this, we can discuss how we want to handle the new layout on Thursday's meeting

[2017-12-05 02:45] #52 closed

[2017-12-06 18:25] Ezmeyers commented on #54
Here are the user stories for the new NeoWarm app I came up with. I tried to write down everything I could think of, so I am sure it will be trimmed down and am missing things. We can discuss at the next meeting!

[NeoWarm_userStories.docx](https://github.com/iupui-soic/mHBS_tracker/files/1536384/NeoWarm_userStories.docx)

[2017-12-07 17:35] shbucher commented on #55
Thanks for setting up this issue, @sivaadde . @phoenigmatic , please also note, it is from these evaluations (listed below) that we will calculate many of the indicators for educational outcomes within the BMGF RCT. (FYI, @sunbiz )

A note that, if possible, scoring algorithms should be automated for each of the forms -- HBB 2nd edition versions. These include:

MCQ (knowledge check; 18 items)
-->

[2017-12-07 17:37] shbucher commented on #54
@Ezmeyers  This is such a great start. Well done!  I look forward to continued refinement of these user stories.

[2017-12-07 17:46] shbucher commented on #39
@Ezmeyers @sunbiz @sivaadde , I would request, as we continue to work on this issue, building upon what the MURI team did Summer 2017, that we deliberately utilize Global Health Media Project videos for demonstrative and beta-testing purposes.

All videos are found here: https://globalhealthmedia.org/videos/

To start with, perhaps we can pull into mHBS/DHIS2 the following GHMP videos (each found

[2017-12-07 17:51] shbucher commented on #34
@msjose276  Thanks. Please update us at the MURI meeting on 07 Dec 2017.  We need to ensure that the PDF readers are working for the BMGF project, as all health care provider groups in Nigeria and Kenya within the RCT will have access, via mHBS/DHIS2, to the PDF of the HBB 2.0 Provider's Guide (link in a previous comment above). Furthermore, we need to ensure that the Research assistants, project

[2017-12-19 04:41] Ezmeyers commented on #39
@sivaadde I see there is now DhisController.getInstance().getDhisApi().getResources() so I think we can pull them in that way!

[2017-12-22 17:31] Ezmeyers commented on #50
Still waiting to hear back about updated training app from @sivaadde , but also asked him to test the login part I made / get feedback (which is on my github)

[2017-12-22 17:31] Ezmeyers commented on #34
@msjose276  any updates?

[2017-12-26 19:08] sivaadde commented on #50
@sunbiz @Ezmeyers DHIS2 doesn't support offline login, I'm not sure how the shared id works when the user is offline.

[2018-01-10 21:03] sunbiz opened #56 "Problems with gradle after upgrade to Android studio 3.0.1"
After the upgrade to Android Studio 3.0.1, we are required to upgrade gradle to 4.1 from 2.14.1. This causes a few issues with the default configuration. We need to resolve this issue:

Error:Cannot choose between the following configurations of project :ui:
  - debugApiElements
  - debugRuntimeElements
  - releaseApiElements
  - releaseRuntimeElements
All of them match the consumer attributes:

[2018-01-12 14:58] Ezmeyers commented on #56
The fix is short if I could edit the submodules. In that case it just requires adding:

[code]
removing `'com.neenbedankt.gradle.plugins:android-apt:1.8'`  since android-apt is deprecated with the new gradle updates and changing `apt to annotationProcessor  `inside :core's build.gradle
and then adding:

[code]
to :ui to take care of an issue with a drawable.

  However, I have not found a way to o

[2018-01-12 15:46] sunbiz commented on #56
My suggestion is to file an issue in the dhis2 tracker repo. And send a pull request to that repo to fix the issue.

[2018-01-19 22:53] BhavaniSingh commented on #5
BMI checklist is fixed, now it generates appropriate scoring. And every data element is checked and verified in it.

[2018-01-20 18:40] Ezmeyers commented on #56
I made the pull request. For now we will just continue not hitting update.

[2018-01-24 20:41] sunbiz commented on #39
We have found that you can call the Web API and access the resources. We have the two resources, one is a PDF and one is WebM video and can be accessed through https://mhbs.info/api/documents

We can also get more details like the content-type of each resource using - https://mhbs.info/api/documents/Eo5RJRxit6v

[2018-01-29 00:27] Ezmeyers commented on #39
@sunbiz For some reason when I go to https://mhbs.info/api/documents and I am not logged in, I cannot view the page. I thought since it is public, it should be viewable...I created the XML parser and pulled in the page, but it's directing me to a blank login page at https://mhbs.info instead and pulling HTML from there. So instead of the document XML I am getting <html> <head> <body> tags from the

[2018-01-30 03:50] Ezmeyers commented on #39
Since I wasn't able to access the DHIS XML via the URL, I worked on the functionality with some other sample XML. I Created the xml parser and am able to pull/parse web xml data. I also added functionality for the videos and resources to display different views when navigating through the respective portals. I am now working on putting sample data in the lists, at least as a proof of concept until

[2018-02-02 01:41] Premchand95 commented on #43
Some one already created time widget, it is working fine.

[2018-02-02 01:51] Ezmeyers commented on #39
I am wondering if the auth isn't working because I need to use HttpsURLConnection over HttpURLConnection since the site is over HTTPS?, perhaps it wont accept the authenticator in conjunction with HTTP. This may be the incorrect route, but it's what I am currently trying since I do see there is HTTPS connection class.

[2018-02-02 02:10] sunbiz commented on #43
I just checked that this was added after we started to use the latest SDK and forked tracker-capture.
Closing the issue as fixed.

[2018-02-02 02:10] #43 closed

[2018-02-02 02:15] sunbiz commented on #39
@Ezmeyers, You can use HttpURLConnection to work with https from a trusted CA. We are using letsencrypt and thats a trusted CA for most reasons. Is this committed some place for me to test out and help?

[2018-02-02 02:31] Ezmeyers commented on #39
Update; I have solved this issue, I can get the correct XML now. I will finish up this file, push the changes to my fork, and then begin populating the list! The issue was that we I couldn't use the default authentication, we had to explicitly call authentication.

[2018-02-03 10:42] sunbiz commented on #50
@Ezmeyers please address my review comments on PR - https://github.com/iupui-soic/mHBS_tracker/pull/57
I also suggest that you close the current PR, squash your commits into a single one and then send the PR again.

[2018-02-03 10:48] sunbiz commented on #56
PR made to dhis2 android sdk repo - https://github.com/dhis2/dhis2-android-sdk/pull/124
@Ezmeyers can I request you to send an email to the DHIS2 devs list to notify about the problem and link to your PR to fix it?

[2018-02-03 10:53] sunbiz commented on #19
@sivaadde can you please add a description for this? I am not sure, what this issue needs to do.

[2018-02-03 15:02] Ezmeyers commented on #56
Yes I can do that, I will update this issue when there are status changes as well.

[2018-02-03 15:05] Ezmeyers commented on #50
I spent a lot of time trying to squash my commits the other day. I am not sure what I am doing wrong. I was using REBASE -i HEAD~N (where N are the number of previous commits to squash) and then I tagged commits with S to squash those, but every time I would push changes, it started cloning my commits instead changing my commits from like 3 to 12! Clearly I am doing something wrong, but I haven't

[2018-02-03 15:22] sivaadde commented on #19
@sunbiz When a new baby is added the app should provide alerts according to the HBS Flip chart, That's what this is. I think we don't need this now. What do you suggest?

[2018-02-03 16:20] sunbiz commented on #50
If I may suggest, please try the GitKraken tool. It's been a revelation lately for how a good GUI can improve productivity. It will let you squash really easily.

[2018-02-03 16:22] sunbiz commented on #19
@sivaadde, oh so this is when a new tracked entity is created and not data element. I get it now. Could be doable, but should be low priority.

[2018-02-04 01:48] BhavaniSingh commented on #36
Dear Sir

What are all the write access you want? Do you mean you just want add/update right to private and public Data elements or, you need, add/update access to everything except the read access?

-Bhavani

________________________________
From: Saptarshi Purkayastha <notifications@github.com>
Sent: Saturday, February 3, 2018 3:59 PM
To: iupui-soic/mHBS_tracker
Cc: Agnikula Kshatriya, Bhavani S

[2018-02-04 01:51] Ezmeyers commented on #39
on [my Fork](https://github.com/Ezmeyers/Training-App-Login/tree/xmlPullParser) I correctly pulled in the content type and associated with IDs. I am now going to get other textual information for items that need to populate based on resource type

[2018-02-09 17:52] Ezmeyers commented on #56
this issue is in review

[2018-02-09 23:51] bhavaniak opened #59 "knowledge check event not functional in android app"
According to the error evaluated by @sunbiz, it seems that there is a need to change the datatype used (integer) for the events such as knowledge check, to make them functional in android app.

[2018-02-09 23:57] bhavaniak opened #60 "Error: Failed to update the event in the server"
[ERROR.docx](https://github.com/iupui-soic/mHBS_tracker/files/1712764/ERROR.docx)

The error in the screenshot is being shown while trying to check the functionality of events in an enrollment and event for the new enrollments.

The detailed error is:
One or more conflicts encountered. please check import summary

[2018-02-10 00:37] bhavaniak commented on #60
Fixed! The problem, I think, which occurred was, when the program rules and consequently the event is changed, the server didn't update it automatically. I have changed the program rules again and saved each of the program rule variables, rules, data elements and updated each of the program stages in the mHBS program. Then, I checked it again. Web interface now works fine.

[2018-02-10 00:38] bhavaniak commented on #59
I have changed the datatype to a number and applied all the rules to make the knowledge check functional. It works in the web interface, but it needs to be evaluated in android app and check if it throws the same error like before.

[2018-02-10 00:44] bhavaniak opened #61 "OSCE A and OSCE B form re-creation"
@sunbiz, the forms OSCE A and OSCE B needs to be re-created as we have discussed because they seem clumsy. I will re-create them. After which, they need to be checked, how they appear in the Android app.

[2018-02-10 01:55] shbucher commented on #61
Hello @bhavaniak, please do not reformat the OSCEs until we have a chance to talk. They are validated evaluations that have to be constructed, and administered, in a particular manner. Thanks!

On Feb 9, 2018 7:44 PM, bhavaniak <notifications@github.com> wrote:

@sunbiz<https://github.com/sunbiz>, the forms OSCE A and OSCE B needs to be re-created as we have discussed because they seem clumsy. I w

[2018-02-10 13:01] #56 closed

[2018-02-10 16:14] bhavaniak commented on #61
Definitely @shbucher

[2018-02-10 19:13] bhavaniak opened #62 "Functionality of BMV skill check form in Android app"
BMV skill check works in web interface but not in Android app.

[2018-02-10 19:18] bhavaniak commented on #62
Now I have fixed it. The issue was the program rule variable which had score values i.e., source of the score and the score variable itself, both had different values which executed at the same time. This caused a clash of the values on which program rule expression works. I figured it out and now it works in both web interface and Android app

[2018-02-11 03:32] sunbiz commented on #50
Completed in commit https://github.com/iupui-soic/dhis2-android-trackercapture/commit/3577fd4e4d93b96fe4f656a0ab25380dcf16ae56
This completes the task. Closing the issue as complete.

[2018-02-11 15:38] sunbiz commented on #28
Marking as complete. https://github.com/iupui-soic/dhis2-android-trackercapture/commit/3577fd4e4d93b96fe4f656a0ab25380dcf16ae56 Merged.

[2018-02-11 15:38] #28 closed

[2018-02-11 20:09] Ezmeyers commented on #56
git submodule update --remote --merge to pull updates

[2018-02-11 20:23] Ezmeyers commented on #39
What format did we decide to go with for Pdfs/videos? Do we have a list of them already formatted? I wanted to upload some more to resources for testing purposes. I can use dummy data, I was just wondering.

[2018-02-11 20:25] sunbiz commented on #39
@Ezmeyers, We have two of them - one pdf and another video uploaded to mhbs.info. Please use those!

[2018-02-11 20:26] Ezmeyers commented on #39
@sunbiz I am using those, I just wanted more, for test purposes, but I can just duplicate them.

[2018-02-13 04:25] bhavaniak opened #63 "OSCE B and OSCE A not functional in android app"
The OSCE B and OSCE A event doesn't work on the android app. Throws empty string error and outputs improper score

[2018-02-13 04:26] #62 closed

[2018-02-13 04:34] bhavaniak commented on #63
Solved! Program rule expression and program rule variable didn't match which I have changed. The other problem was ambiguity from two similar data elements. I have tracked them back and changed each of them to recognize them uniquely and then assigned program rule expression.

[2018-02-13 07:07] sunbiz opened #64 "Create usability survey for beta testing"
A usability survey needs to be created in REDCap based on the System Usability Scale (SUS) - https://www.trymyui.com/sus-system-usability-scale

Create an account on https://redcap.uits.iu.edu/ and then create the survey that can be distributed to the users who will use the apps.

[2018-02-14 19:33] sunbiz opened #65 "Gender should appear as M/F"
There has been some regression, since how it was designed previously. The tracked entity attribute for Gender might have been changed and now it appears as 0/1 instead of M/F. This needs to be fixed at least for new registrations and should show up correctly when trainee search results are shown

[2018-02-14 20:21] sunbiz commented on #53
One idea to test and implement is to have the program stage data elements, all be their own section. And in the section management, we create a sort order using a script daily or hourly.

The caveat is that with offline data entry, the random order will not appear.

[2018-02-17 19:46] sunbiz commented on #36
We tested this further and it seems like there is not enough granularity in the DHIS2 permission system to allow read/write access to a program specifically. They can either be assigned or not be assigned to a program.

So @BhavaniSingh is now testing:
Option1: if the user is not assigned to a program, but a trackedentity (trainee in our case) is enrolled in that program, can the user send data us

[2018-02-17 20:04] #60 closed

[2018-02-17 20:05] sunbiz commented on #59
@bhavaniak still does not work in the tracker app. Any other things that you are trying to fix this? Have you got the emulator running for you to test this?

[2018-02-17 20:31] bhavaniak opened #66 "Error using android app"
Unable to edit an event using android app. It throws the error as shown in the attachment.
[mHBS error.docx](https://github.com/iupui-soic/mHBS_tracker/files/1734100/mHBS.error.docx)

[2018-02-17 21:12] bhavaniak commented on #59
@sunbiz yes, it is not working on the mobile app. I have checked it in internet explorer to find the reason for correct functionality in the web interface.
I have checked it in private window but I couldn't even see any program (mHBS or app usage) in the IE. So couldn't find whether it is the browser capability for the functionality in the web interface. But, I don't think so because if that was t

[2018-02-17 21:14] bhavaniak commented on #59
It's not majorly about the datatype but I think expression interpretation is the major factor for this issue.

[2018-02-28 05:41] sunbiz commented on #59
@bhavaniak Can you please document how this was fixed, so that we can have fix it when something similar happens?

[2018-02-28 05:53] bhavaniak commented on #59
Okay... I will do it ASAP

[2018-02-28 20:19] bhavaniak commented on #59
Changed the option set type to text and consequently the data element. In the program rule variable, I have unchecked "use code for optionset"  and then used the correct answer value in program rule expression instead of optionset code value. This fixed the issue.

[2018-02-28 20:19] #59 closed

[2018-03-02 17:45] Ezmeyers commented on #39
@sunbiz  It looks like the Video View can't play webm format videos. Any suggestions?

[2018-03-02 18:55] sunbiz commented on #39
VP9 coded webm is surely supported from Android 4.4 onwards. Can you check the MediaCodecInfo and check the capabilities? Any error logs that you can post when you try start().

[2018-03-02 19:52] Ezmeyers commented on #39
All I get is:
 E/MediaPlayer: error (1, -2147483648)

and the app displays "Can't play this Video" I also tried a static webm from online and the same thing happens.
![selection_004](https://user-images.githubusercontent.com/11591786/36918899-586cf5fa-1e29-11e8-9ea6-1c35f232b5f0.png)

[2018-03-03 00:37] Ezmeyers commented on #39
So it looks like this is the problem detailed [here](https://stackoverflow.com/questions/29776181/android-videoview-not-playing-video)

Found out the files which were supposed to be video were grabbing login HTML which means the auth  didn't work for videos, which is weird because it works fine for PDFs so I am working on that now and will update with the fix.

[2018-03-10 23:11] Ezmeyers opened #67 "Create video and PDF thumbnails in list"
Create video and PDF thumbnails in list fragment

[2018-03-10 23:11] Ezmeyers opened #68 "Implement video and PDF searching"

[2018-03-10 23:12] Ezmeyers opened #69 "Add offline mode functionality to training app"

[2018-03-10 23:12] Ezmeyers opened #70 "Add progress bar for video/pdf downloads"

[2018-03-10 23:14] Ezmeyers opened #71 "Create session to acount for Dhiscontroller.user account being null"

[2018-03-11 05:24] Ezmeyers opened #72 "Fix issue where video/pdf page needs to be reloaded to view resource"

[2018-03-12 17:34] #71 closed

[2018-03-12 17:35] Ezmeyers commented on #71
fixed with https://github.com/Ezmeyers/Training-App-Login/commit/f2c76721ff6aec871af07bdc423bedba48f6b903

[2018-03-12 17:36] Ezmeyers opened #74 "Add internal folder access case in pdf and video fragments"
In case there's no external storage, need to access these folders in video and pdf fragments

[2018-03-13 19:36] Ezmeyers commented on #74
finished this @ https://github.com/Ezmeyers/Training-App-Login/tree/int_ext_folder
still need to handle video displaying only after going back, will work on that next

[2018-03-13 19:36] #74 closed

[2018-03-19 22:55] #70 closed

[2018-03-19 23:01] Ezmeyers commented on #67
Currently the video thumbnails can be scraped from the web api, but it adds significant initial loading time when the list populates, therefore these lines are commented out. I believe when the code/algorihthm for downloading is optimized, getting thumbnails can be viable. (currently there are a lot of http related logs that I'm unfamiliar about)
From my readings we can use a library by the same p

[2018-03-19 23:02] Ezmeyers opened #75 "Add Icons to home buttons on learner tracker"

[2018-03-19 23:03] Ezmeyers opened #76 "Add borders to the reusable list between content items"

[2018-03-19 23:05] Ezmeyers opened #77 "Create simple list for downloaded content to appear"
This shouldn't be too bad, in resourcesDownloadUtil there are checks for internal and external storage folders that return all downloaded content.

[2018-03-19 23:07] Ezmeyers opened #78 "Disable favorites until implemented"
Disable favorites feature. This is still on the list, but a second priority to offline mode and download features.

[2018-03-20 00:09] Ezmeyers commented on #76
Completed

[2018-03-20 00:17] sunbiz commented on #76
Can you please comment the commit SHA before closing issues

[2018-03-20 00:55] Ezmeyers commented on #75
@sunbiz  did we still want round backgrounds or is this ok? This is what I have done:

![selection_039](https://user-images.githubusercontent.com/11591786/37629906-cf5bee82-2bb7-11e8-9beb-1a4b43aa0e59.png)

[2018-03-20 00:58] sunbiz commented on #75
Looks fine to me

[2018-03-20 00:58] Ezmeyers commented on #76
@ https://github.com/Ezmeyers/Training-App-Login/commit/1f48cd5b85b5d8e131ead7e8b475a24dfb34a25d

[2018-03-20 01:01] Ezmeyers commented on #75
@https://github.com/Ezmeyers/Training-App-Login/commit/38f8dbd84c707c9a8cbad4b54db6b549b0cf5390

[2018-03-20 01:02] #75 closed

[2018-03-20 01:03] Ezmeyers commented on #72
This was fixed during the restructuring, I believe @ https://github.com/Ezmeyers/Training-App-Login/commit/1f48cd5b85b5d8e131ead7e8b475a24dfb34a25d

[2018-03-20 01:03] #72 closed

[2018-03-20 01:05] Ezmeyers opened #80 "Fix deleted PDFs from web server"
Figure out why the PDFs are getting deleted from the server when downloading

[2018-03-20 01:13] Ezmeyers opened #81 "Add download function to downloads button"
Add the download mechanism to the actual arrow button. @sunbiz Do we still want the video to automatically download when we interact with it?

[2018-03-20 19:12] bhavaniak opened #82 "Add icons for video resources"
Icons should be added as there are only titles displayed which makes it look little ambiguous.

[2018-03-20 19:14] bhavaniak opened #83 "Add borders for a better view on the list"
Borders should be added as suggested by Dr. Purkayastha to make a better view in the app.

[2018-03-20 19:18] bhavaniak opened #84 "Make download button functional"
Download button appears beside the study materials present in the app but it is not functional.

[2018-03-20 19:20] bhavaniak opened #85 "Show the list of downloads when we hit download button in the app"
As discussed in the meeting, when the user hits the download button, he/she must also be able to see the list of downloads already made.

[2018-03-20 20:17] Ezmeyers commented on #84
duplicate of https://github.com/iupui-soic/mHBS_tracker/issues/81

[2018-03-20 20:17] #84 closed

[2018-03-20 20:18] Ezmeyers commented on #85
duplicate of https://github.com/iupui-soic/mHBS_tracker/issues/77

[2018-03-20 20:18] #85 closed

[2018-03-20 20:19] Ezmeyers commented on #83
duplicate of https://github.com/iupui-soic/mHBS_tracker/issues/76

[2018-03-20 20:19] #83 closed

[2018-03-20 20:20] Ezmeyers commented on #82
@bhavaniak which icons are these referring to

[2018-03-20 20:26] Ezmeyers commented on #82
duplicate of https://github.com/iupui-soic/mHBS_tracker/issues/75

[2018-03-20 20:26] #82 closed

[2018-03-21 06:26] Ezmeyers commented on #81
completed @ https://github.com/Ezmeyers/Training-App-Login/commit/e24a5106b16464330672109785f0fa5a80bce17c

[2018-03-21 06:26] #81 closed

[2018-03-21 06:26] Ezmeyers commented on #78
completed @ https://github.com/Ezmeyers/Training-App-Login/commit/e24a5106b16464330672109785f0fa5a80bce17c

[2018-03-21 06:26] #78 closed

[2018-03-21 06:27] Ezmeyers commented on #77
Right now I have a list of the downloaded content displaying, I am working on functionality that will display these items when clicked. Right now, they display but the Ids don't match the files. This is something I am now working on.

[2018-03-21 19:58] bhavaniak opened #86 "Disable Resource icon in the app"

[2018-03-21 20:00] bhavaniak opened #87 "Rename courses to provider guide in the app"

[2018-03-21 20:01] bhavaniak opened #88 "Display single mHBS app in the user's mobile screen"
All the three apps should be clubbed into one app and after the user opens it then the three apps can be displayed inside it so that user can choose the desired one.

[2018-03-21 20:16] bhavaniak opened #89 "Hide offline mode in the mHBS app"

[2018-03-21 20:17] bhavaniak opened #90 "Investigate scaling issue on login in the mHBS app"
The logo on the top of the login page, and the login button gets cutoff at the top and bottom. Needs to be fixed.

[2018-03-21 20:18] bhavaniak opened #91 "Add back button on PDFs in Provider guide in the mHBS app"

[2018-03-21 20:18] bhavaniak opened #92 "Add "download to view" text to black video icons in the app"

[2018-03-21 20:21] bhavaniak opened #93 "Add "coming soon" to buttons on resources activity in the app"

[2018-03-21 20:22] bhavaniak opened #94 "Remove search from information and add project information in the app"

[2018-03-22 01:44] bhavaniak opened #95 "Add prompts when WiFi is off so that the app displays those prompts"

[2018-03-22 01:44] bhavaniak opened #96 "Add title to portal page that shows videos"

[2018-03-22 02:14] Ezmeyers commented on #96
completed @ https://github.com/Ezmeyers/Training-App-Login/commit/e00c982c10d318f485764932adb396499b8a2bad and also merged into my master branch, so I will be making changes on small branches from now on.

I also added it so that when you play a video, the app bar changes to the video title, and added a title to the download_content page.

[2018-03-22 02:14] #96 closed

[2018-03-22 02:15] Ezmeyers commented on #94
Which information am I supposed to be adding? I know we mentioned authors, but I am not sure what else!

[2018-03-22 02:30] Ezmeyers commented on #87
completed @ https://github.com/Ezmeyers/Training-App-Login/commit/5368bab421c150869a6d3d4bc5dd2ceacdb5045e

[2018-03-22 02:30] #87 closed

[2018-03-22 02:30] Ezmeyers commented on #86
completed @ https://github.com/Ezmeyers/Training-App-Login/commit/5368bab421c150869a6d3d4bc5dd2ceacdb5045e

[2018-03-22 02:30] #86 closed

[2018-03-22 02:41] bhavaniak opened #97 "Move HBB button to the top of the list"

[2018-03-22 02:46] Ezmeyers commented on #94
Removed search and converted information activity to fragment. Also added "Information" as title to the new fragment.

[2018-03-22 06:15] Ezmeyers commented on #97
completed @ https://github.com/Ezmeyers/Training-App-Login/commit/dbe6e023671b606310d548de78dbddd6d83ecd2b

[2018-03-22 06:15] #97 closed

[2018-03-22 06:15] Ezmeyers commented on #93
Completed @ https://github.com/Ezmeyers/Training-App-Login/commit/dbe6e023671b606310d548de78dbddd6d83ecd2b

[2018-03-22 06:15] #93 closed

[2018-03-22 06:45] Ezmeyers commented on #92
complete @ https://github.com/Ezmeyers/Training-App-Login/commit/148554723462a100fdf18f9ac52f1808748d61ab

[2018-03-22 06:45] #92 closed

[2018-03-23 05:13] #76 closed

[2018-03-23 05:20] Ezmeyers commented on #67
Right now I added it so that if the item is downloaded, the text on the black box can be changed to say "Click to view" with the download button hidden, and it will say "Download to view content" and display the download button if the item is not on the device. @https://github.com/Ezmeyers/Training-App-Login/commit/ce679e825158f8dd6bdec1c15902d3e5207892a3

[2018-03-23 06:35] Ezmeyers commented on #95
Added this @https://github.com/Ezmeyers/Training-App-Login/commit/8ff141f571bd2e52faa7c3f97190b255a119cd73 however it is not implement on the download_list in sidebar yet, will do in morning.

[2018-03-23 18:34] Ezmeyers commented on #95
completed @ https://github.com/Ezmeyers/Training-App-Login/commit/bdf7d9cbf7911afb5583cb93993a66d202af5496

[2018-03-23 18:34] #95 closed

[2018-03-23 18:52] Ezmeyers commented on #94
@sunbiz
Here is how the information fragment looks, what information should I include?

![screenshot_2018-03-23-14-48-36](https://user-images.githubusercontent.com/11591786/37848211-b4076ebe-2ea9-11e8-9b9a-8613a0e41799.png)

[2018-03-23 20:12] Ezmeyers opened #99 "Create user documentation for mHBS training and tracker"

[2018-03-25 21:55] Ezmeyers commented on #99
working on this @ https://docs.google.com/document/d/12ZO4gTmUiDsCowDClLMHPEB7ptKbpjswRb_iSnLqIn8/edit#

[2018-03-25 21:56] Ezmeyers opened #101 "Fix icon size in the right column of ResourcesActivity xml"

[2018-03-26 00:28] Premchand95 commented on #99
?

________________________________
From: Liz Meyers <notifications@github.com>
Sent: Sunday, March 25, 2018 5:55 PM
To: iupui-soic/mHBS_tracker
Cc: AVANIGADDA, PREM CHAND; Assign
Subject: Re: [iupui-soic/mHBS_tracker] Create user documentation for mHBS training and tracker (#99)

working on this @ https://docs.google.com/document/d/12ZO4gTmUiDsCowDClLMHPEB7ptKbpjswRb_iSnLqIn8/edit#

-
You are rec

[2018-03-26 18:53] sunbiz opened #103 "Change package name to avoid upload conflict in Google Play Store"
Since we have the same package name as the trackercapture app, we are not allowed to upload the app.

The signatures also need to be made same across all the applications, so that we can later deploy them as a multiple APK application - https://developer.android.com/google/play/publishing/multiple-apks.html

[2018-03-27 15:12] sunbiz commented on #103
Pushed the alpha release code in the following branches:

- https://github.com/iupui-soic/mHBS_tracker/tree/mhbs-alpha
- https://github.com/iupui-soic/dhis2-android-trackercapture/tree/mhbs-alpha

[2018-03-27 15:12] #103 closed

[2018-03-27 17:56] Ezmeyers commented on #39
@sunbiz  found that videos that are uploaded to DHIS2 are encoded with VP8 that is not available in the 5.1 lollipop emulator

[2018-04-04 15:05] shbucher commented on #99
[mHBS guide_v1.27March2018.docx](https://github.com/iupui-soic/mHBS_tracker/files/1876360/mHBS.guide_v1.27March2018.docx)

Here is the version of the mHBS guide that was distributed for the initial cycle of alpha-testing on March 26-27, 2019.

[2018-04-04 15:18] shbucher opened #104 "Moving UX toward one that is like that of SafeDelivery app"
https://play.google.com/store/apps/details?id=dk.maternity.safedelivery&hl=en

As mentioned at our scrum meeting on 28 March 2018, for mHBS/DHIS2, I suggest that we emulate the UI/UX of SafeDelivery app, which is a similar type training app, for maternal health, and is targeted toward the same types of end-users and stakeholders as mHBS/DHIS2.  Please download and move through SafeDelivery so that

[2018-04-04 15:28] shbucher opened #105 "Gather the paper-based tracker forms (clinical indicators) we used for alpha mHBS version into one place"
There are multiple versions of paper forms for capture of clinical indicators in DHIS2 tracker.  I need to know which of these versions were programmed into the alpha-launch version of Tracker.

@BhavaniSingh , please pull the versions of paper forms you used to generate the Tracker data collection tools and drop them on this issue, so that we can then review and bundle them to send to alpha teste

[2018-04-04 19:48] sunbiz opened #106 "mHBS training icon on home screen"
After installation of the training app, it doesn't appear in "All Apps". This was done by removing the launcher category from the Android Manifest XML. The app icon still appears in the home screen shortcut on Android.

We need to find a way to disable the icons in both the places.

[2018-04-04 19:58] BhavaniSingh opened #107 "Change the logo to helping babies survive"

[2018-04-04 20:02] BhavaniSingh opened #108 "Disable rotation in both the apps"
Both the training and tracker apps, currently rotates into landscape and portrait mode when the mobile is moved. So the rotation should be fixed to stabilize the apps to one orientation

[2018-04-05 15:46] shbucher commented on #1
We need to include some additional fields in the existing (alpha version) mHBS Learner Registration form, to include the capture of information regarding the type of health worker who is being registered (e.g., nurse? clinical officer?) and history of previous neonatal resuscitation training.  I will send these fields to the development team.

[2018-04-11 02:07] Ezmeyers commented on #107
fixed on main page and course page @https://github.com/iupui-soic/mHBS_tracker/commit/5cad86390cd43b70dba5c64bee9003b7bcb75863

[2018-04-11 02:07] #107 closed

[2018-04-11 02:07] Ezmeyers commented on #90
Fixed @ https://github.com/iupui-soic/mHBS_tracker/commit/5cad86390cd43b70dba5c64bee9003b7bcb75863

[2018-04-11 02:07] #90 closed

[2018-05-16 19:41] Ezmeyers commented on #80
closed for moving towards training app version 2

[2018-05-16 19:41] #80 closed

[2018-05-16 19:42] Ezmeyers commented on #67
closing for moving towards training app version 2

[2018-05-16 19:42] #67 closed

[2018-05-16 19:51] BhavaniSingh opened #109 "Make dynamic checkboxes in the mHBS guide"
When a user selects the check box, the option should be evaluated and display the correct answer next to the checkbox in mHBS provider guide

[2018-05-16 22:52] Ezmeyers commented on #101
closing for mHBS training app version 2

[2018-05-16 22:52] #101 closed

[2018-05-17 04:07] Ezmeyers opened #110 "Create login behavior from tracker for training app v2"
- [x] Send broadcast to tracker capture app
According to [this stack overflow post](https://stackoverflow.com/questions/43937839/receiving-broadcast-intents-with-cordova-broadcaster?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa) the cordova broadcaster only handles sending to LocalBroadcastManager for in app communication, but it's okay because the [intent plugin](https:

[2018-05-17 04:09] Ezmeyers opened #111 "Pull PDFs in the new app via Ajax"
Mainly, create the link and populate a list. As discussed in the meeting, no need to create media views.

[2018-05-18 13:26] Ezmeyers commented on #110
Took me awhile to figure this out, but com-darryncampbell-cordova-plugin-intent does not handle intent.action.main nor does it support string arrays. However [napolitano does](https://github.com/napolitano/cordova-plugin-intent) and the intent works for our purpose, so I am using darry's plugin for the broadcast and napolitano to grab the data from tracker.

[2018-05-21 15:52] Ezmeyers commented on #110
complete @https://github.com/Ezmeyers/mHBS_Hybridapp/commit/79b07686494744866d7bf0bb98373bbf3bdb3e64

[2018-05-24 22:15] BhavaniSingh opened #112 "Continuous integration with phonegap"
Use phonegap mobile application development framework to code for the cross-platform mHBS apps

[2018-05-24 22:17] #55 closed

[2018-05-24 22:17] #61 closed

[2018-05-24 22:17] #63 closed

[2018-05-24 22:17] #64 closed

[2018-05-24 22:17] #65 closed

[2018-05-24 22:17] #66 closed

[2018-05-24 22:17] #99 closed

[2018-05-24 22:17] #106 closed

[2018-05-24 22:19] #34 closed

[2018-05-24 22:19] #45 closed

[2018-05-24 22:19] #105 closed

[2018-05-24 22:20] #4 closed

[2018-05-24 22:20] #5 closed

[2018-05-24 22:20] #6 closed

[2018-05-24 22:20] #7 closed

[2018-05-24 22:22] #2 closed

[2018-06-13 21:20] Ezmeyers opened #113 "Hide Logout for mHBS apps"
Permanently remove the logout option so we can bypass data synchronization issues if the device is not connected to internet

[2018-07-11 21:09] Ezmeyers opened #114 "Add privacy policy content to home page"
Add privacy policy information with a web link to read more, as privacy is a top priority!

[2018-07-11 21:09] Ezmeyers opened #115 "Move downloading to video list"
Instead of having content download on app launch, have it trigger when a user clicks video list!

[2018-07-11 21:13] Ezmeyers opened #116 "Move favorites to local storage"
Add favorites to local storage with a folder pertaining to each user

[2018-07-11 21:14] Ezmeyers opened #117 "Add internet check"
Add an internet check before downloading content with function to support showing videos for offline mode.

[2018-07-19 17:23] Premchand95 opened #118 "erasing of local storage on app restarting"
whenever the application is restarted, Local storage is erased.
the respective code is in app.js

[2018-07-19 17:29] Premchand95 opened #119 "adding fabric plugin to cordova to send contentView to server"
added fabric plugin to Cordova application to sent each page contentView to fabric.io, which includes start time, end timestamps, and username

[2018-07-19 17:36] Premchand95 opened #120 "Maintain local storage to store the page visits"
"pageVisits" are used to store the page visits of each page in local storage, later used as a source for tracker capture data elements. find the respective code in app.js

[2018-07-19 18:27] #118 closed

[2018-07-19 22:31] Ezmeyers commented on #117
added this @ https://github.com/Ezmeyers/mHBS_Hybridapp/commit/487895f4fa52825259785af71a28b15e5daf1cc9

but noticed that it doesn't work if one has connected to internet but not logged in if the wifi requires it so I have to add a check for that still.

[2018-07-19 22:31] Ezmeyers commented on #115
complete @ https://github.com/Ezmeyers/mHBS_Hybridapp/commit/e2161e728844335f9584d017fee8ba5e56d3ee43

[2018-07-19 22:31] #115 closed

[2018-07-20 01:34] Ezmeyers commented on #116
complete @ https://github.com/Ezmeyers/mHBS_Hybridapp/commit/ad0ffed885a3b1ca9ed7aa52910f575978e72393 also included option to remove from favorites

[2018-07-20 01:34] #116 closed

[2018-07-20 01:35] Ezmeyers opened #121 "Check intent plugin for use with broadcasts"
Check to see if we can use the [lampaa](https://github.com/lampaa/com.lampa.startapp) intent addon to replace the other two for broadcasts

[2018-07-21 06:11] Premchand95 opened #122 "pinch zoom to images"
pinch zoom to all images in the guide

[2018-07-21 06:16] Premchand95 commented on #119
@Ezmeyers, Please make sure to change the static username to dynamic after merging the code. find the global variable "username" in app.js

[2018-07-21 13:11] Ezmeyers commented on #119
@Premchand95 I took care of that in may when I was creating the login :)

[2018-07-24 23:18] Ezmeyers commented on #121
Was able to reduce 3 plugins down to 1 (replaced napolitano intent plugin and lampaa intent plugin with darryncampbell intent shim and it also reduced startup latency @https://github.com/Ezmeyers/mHBS_Hybridapp/commit/1c37b019fd356e124a5d8863253dc71e16a7936b

[2018-07-24 23:18] #121 closed

[2018-07-24 23:19] Ezmeyers commented on #122
@Premchand95 I think this is finished, correct?

[2018-07-24 23:21] Ezmeyers commented on #120
merged this code @https://github.com/Ezmeyers/mHBS_Hybridapp/commit/6cc914ce6d67635d79dd4e8eac756f1c860518bc and modified for reduction/maintainability @https://github.com/Ezmeyers/mHBS_Hybridapp/commit/9ce917cd7a4a991419923fc31842d2d592c991a1

[2018-07-25 07:13] Premchand95 commented on #122
Yes , it is finished

[2018-07-26 17:24] Ezmeyers opened #124 "change intent filter on to login receiver on tracker-capture"
in the manifest on tracker-capture in the login receiver portion the
` <intent-filter><action android:name="edu.iupui.soic.biohealth.plhi.mhbs.activities.SharedLoginActivity"/></intent-filter>`
needs to change to:
`<intent-filter>
   <action android:name="com.example.mHBS.MainActivity"/>
</intent-filter>`
in order to work with the new mhbs app

[2018-07-27 14:48] Ezmeyers opened #125 "check mHBS guide on the app for accuracy"
Before we deploy, we need to spell and grammar check the mHBS guide to make sure it matches the official guide exactly. I have noticed a few spelling errors that I corrected, but would be necessary to check the whole thing.

[2018-08-04 00:39] Ezmeyers opened #126 "Create pin login screen"
I created the pin login screen, @https://github.com/Ezmeyers/mHBS_Hybridapp/commit/6c6961415faaf7f85455e42bc0c0d4e4c0431627 but need to clarify the behavior. @sunbiz Is it true that we want it to show first at every launch? Also, the user will be entering their pin manually, or will it be passed into the input box from tracker-capture?

[2018-08-04 00:45] Ezmeyers opened #127 "Storage and login issues"
I believe I fixed these @https://github.com/Ezmeyers/mHBS_Hybridapp/commit/6c6961415faaf7f85455e42bc0c0d4e4c0431627 fixed an issue where app.data wasn't getting initialized, which was causing some problems throughout. I will leave this open until it is tested more.

[2018-08-04 00:51] sunbiz commented on #126
Thanks for the work on this @Ezmeyers. We want to show the PIN screen, each time the app is Resumed. So you want to listen on the resume event, something like this:

[code]
The user needs to identified based on their PIN. We need the PIN to be valid one among the facility users. So, we need a way to sync all the trainees who are registered or downloaded to the device, to have their PIN shared with

[2018-08-04 00:54] Ezmeyers commented on #126
Alright, the resume part is no problem, and I will work on passing it from tracker-capture.

[2018-08-04 00:54] sunbiz commented on #113
I think this should be to hide the "logout". The device needs to be connected to the internet for the first time when the facility login is done. Assigning @Premchand95 as was discussed in the last scrum meeting.

[2018-08-04 01:13] #122 closed

[2018-08-04 18:44] Ezmeyers commented on #124
Closing this, as we discussed we should leave the activity name the same, so I have reverted it back to work with the existing app.

[2018-08-04 18:50] sunbiz commented on #124
I guess we will still need to work on modifying this (on the tracker side), so that it can send the correct PIN for the users from the same facility to the training app?

[2018-08-04 18:55] Ezmeyers commented on #124
Right now I'm just passing over a hardcoded pin passed with the credentials so I could work on the mHBS side, so that however we modify tracker-capture, then the mHBS training app will at least be ready to handle the incoming pin

[2018-08-04 19:13] sunbiz commented on #124
Sounds like a good plan, but I just wanted to keep this issue reopened for that work

[2018-08-07 20:02] sunbiz commented on #40
- Delivery checklist needs to be made available to the RA role
- QI improvement checklist is now called "Health Facility Site Visit Form" available only to the RA role
- Aggregate forms should only be available to the RA role and PIs

"Self reporting of training and practice form" will be "HBB corner log"
And @shbucher will verify if the OSCEs, BMV and MCQ should be available to all users or RA on

[2018-08-07 20:29] sunbiz commented on #12
- @SherriBucher Modify checklist to capture chest rise
 - Harmonize PPV and BMV
 - Add field about baby's disposition at 2 and 4 hours
 - define prolonged BMV as 1 min

[2018-08-07 20:32] sunbiz commented on #14
Change indicator for % of PPV events debriefed to no. of resuscitation debriefings submitted.

[2018-08-07 20:52] sunbiz opened #128 "Buy batteries for the tablets"
20 total batteries and each country having 10 Nexus 7 tablets.

[2018-08-07 20:54] sunbiz opened #129 "Prepare demo devices"
Install the apps on the 3 demo devices:
- S9 (partner apps)
- Google Pixel (partner apps)
- Nexus 7

Install all the mHBS apps on the 20 tablets from Issue #128

[2018-08-07 21:30] Ezmeyers commented on #125
did most of this @https://github.com/Ezmeyers/mHBS_Hybridapp/commit/89e4da80687a55e7caae37c50fdb6eb9debcd2d9

@Premchand95 found the following that should also be corrected:
section1a.html: missing check yourself
section1c.html: mising check yourself
section2e.html: green box color
section4e.html: pink box color
section5a.html: digitize checklist
section1.html, section6e.html svg change to jpg

mi

[2018-08-13 15:57] sunbiz commented on #126
The tracker-capture part needs to be done in #50

[2018-08-13 15:59] sunbiz commented on #50
There is a long blank screen that shows when transferring from the tracker capture to training v2 hybrid app. So, we will need to add the following:
- [ ] splashscreen back again.
- [ ] send all the valid PINs through the LoginReceiver

[2018-08-17 21:13] shbucher commented on #128
Janice will order these from Amazon on Monday.

[2018-08-20 17:00] sunbiz commented on #113
Merged here - https://github.com/iupui-soic/dhis2-android-trackercapture/commit/8768fd792671ad16f6fbcca325ad2a7e44ca21cd

[2018-08-22 15:53] Premchand95 opened #130 "Add "prev" and "next" buttons in guide"
it will be easy to navigate through the pages

[2018-08-22 20:12] BhavaniSingh opened #131 "Change the format of neonatal resuscitation program options in registration form"
Need to create a drop-down list of all the options of neonatal resuscitation program by changing the current options in the registration form of tracker

[2018-08-22 20:14] BhavaniSingh opened #132 "Change the option in the devices section of registration form of tracker"
Need to change the option "computer system" to "Laptop/Desktop system" in the registration
form of DHIS2 tracker

[2018-08-22 20:16] BhavaniSingh opened #133 "Add a new option in the occupation field of registration form in tracker"
Need to add "Midwife" option in the occupation field just before "clinical officer" option in the registration form

[2018-08-22 20:18] BhavaniSingh opened #134 "Rename the launch icon name of the mHBS app"
Need to change the launch icon to "mHBS" from "mHBS tracker"

[2018-08-22 20:33] BhavaniSingh commented on #134
https://github.com/iupui-soic/dhis2-android-trackercapture/commit/f9e14d4dce729619e864df586634abe1d08d0e2f

[2018-08-22 20:41] BhavaniSingh opened #135 "Change app name to mHBS and version upgrade for the tracker app"
Need to change the launch icon name from "mHBS tracker" to "mHBS" and even upgrade the version of the mHBS app.

[2018-08-22 20:41] BhavaniSingh commented on #135
https://github.com/iupui-soic/dhis2-android-trackercapture/commit/6e8a039c663f8e310260d97f60fc78e0d332bb33

[2018-08-22 20:43] BhavaniSingh opened #136 "Remove url field and hardcode to "https://mhbs.info""
Need to hardcode the URL field of mHBS to "https://mhbs.info" instead of letting the user fill it.

[2018-08-22 20:44] BhavaniSingh commented on #136
https://github.com/iupui-soic/dhis2-android-trackercapture/commit/95fd336c8686caa3c406945e21984374fd376936

[2018-08-22 20:49] BhavaniSingh opened #137 "Rename the terms "Download entities" and "un-enroll" in the mHBS tracker app"
Need to rename the terms "Download entities" and "unenroll" to "Find trainees and download" and "Deactivate" respectively which are quite user-friendly.

[2018-08-22 20:50] BhavaniSingh commented on #137
https://github.com/iupui-soic/dhis2-android-trackercapture/commit/85f4bdb05a91fafc4abe2ced35b61d09afd63be3

[2018-08-22 21:00] BhavaniSingh opened #138 "Add space to the tracker app name in the initial pop-up"
Need to add space after "mHBS" in the initial pop-up which asks to access the device location.

[2018-08-22 21:29] sunbiz opened #139 "Make the links present in the pages to open in browser"
Please make the links from the provider guide to active i.e. to be able to be clicked on and opened in the mobile phone browser
Please also do this for the link in the privacy policy.

You can do it using the following in the <a href="..." class="external" target="_system">

[2018-08-22 22:25] #137 closed

[2018-08-22 22:26] sunbiz commented on #113
Closing, as it has been tested and works as expected.

[2018-08-22 22:26] #113 closed

[2018-08-22 22:40] sunbiz commented on #114
https://github.com/iupui-soic/mHBS_tracker/commit/4db0f2c9cbdf694f01f0400a07b81bab6c6367bc

[2018-08-22 22:40] #114 closed

[2018-08-23 04:00] sunbiz commented on #108
mHBS training change works only after release build. Commit here -https://github.com/iupui-soic/mHBS_tracker/commit/8c848070e90a062566cdb54c31403ab86c556d9e

mHBS tracker commit here - https://github.com/iupui-soic/dhis2-android-trackercapture/commit/b73a6a9fa3f7054125d9530bba4025d9357b45c2

[2018-08-23 04:00] #108 closed

[2018-08-23 04:02] sunbiz commented on #50
Sending valid pins from tracker capture - https://github.com/iupui-soic/dhis2-android-trackercapture/commit/700a7b5e1df12ab766b41f58a0a62ccac3697d75

[2018-08-23 04:07] sunbiz commented on #88
Completed by the following:
#106 - hidden mHBS training icon - https://github.com/iupui-soic/mHBS_tracker/commit/927f8adb15ad6646c40cfab017965a54b5471830
#135 - Change tracker icon to mHBS - https://github.com/iupui-soic/dhis2-android-trackercapture/commit/6e8a039c663f8e310260d97f60fc78e0d332bb33

[2018-08-23 04:07] #88 closed

[2018-08-23 19:48] BhavaniSingh opened #141 "Hide Relationships and Indicators section in mHBS tracker app"
"Relationship" and "Indicators" section are ambiguous to the user in the data entry screen of mHBS tracker app. Hence, it is necessary to hide them.

[2018-08-23 19:54] BhavaniSingh opened #142 "Enable profile section to the user in the mHBS tracker app"
To view the profile section of the enrollment by the user in the mHBS tracker app, it is necessary to enable them in the dhis2

[2018-08-23 19:56] BhavaniSingh opened #143 "Add AAP links and path to the home section of the mHBS training app"
As discussed in the meeting, it is important to add them in the mHBS training app.

[2018-08-23 20:06] BhavaniSingh opened #144 "Need to edit the ABOUT section and PRIVACY POLICY in the mHBS app"
According to the edits made by Dr. Bucher, we need to modify the content in the "ABOUT" section and "PRIVACY POLICY" of the mHBS app. Please see the attached document.

[mHBS About and Privacy policy_SB comments (2).docx](https://github.com/iupui-soic/mHBS_tracker/files/2315985/mHBS.About.and.Privacy.policy_SB.comments.2.docx)

[2018-08-23 20:17] BhavaniSingh opened #145 "Error while trying to create a program rule variable in dhis2"
When I try to create a program rule variable with source type "Tracked Entity Attribute" and save, it doesn't save. Instead, it throws 409 conflict error. Please let me know if any problems in the server side and see the attached copy of the error.

![error](https://user-images.githubusercontent.com/35197945/44549675-d4a86380-a6ef-11e8-9274-87ff3198a2f1.JPG)

[2018-08-23 21:04] #125 closed

[2018-08-23 21:04] sunbiz commented on #139
Completed here - https://github.com/iupui-soic/mHBS_tracker/pull/140/commits/838b8e5ba68669830988010d270295a9bb165931

[2018-08-23 21:04] #139 closed

[2018-08-23 21:05] sunbiz commented on #130
Completed here - https://github.com/iupui-soic/mHBS_tracker/pull/140/commits/838b8e5ba68669830988010d270295a9bb165931

[2018-08-23 21:05] #130 closed

[2018-08-23 21:16] sunbiz commented on #141
Commit here - https://github.com/iupui-soic/dhis2-android-trackercapture/commit/8c970d8f273e4a57e5f60bc9a3fb2c51419ad49f

[2018-08-23 21:16] #141 closed

[2018-08-23 21:17] sunbiz commented on #142
This seems to be working at the moment for trainee "Lewis Alcindor". Is it because you removed the program rule?

[2018-08-23 21:26] BhavaniSingh commented on #142
It might be. This can be confirmed by checking with the recent enrollments. I can discuss with Prem and verify it Professor!

[2018-08-24 02:14] BhavaniSingh commented on #142
It seems to be working fine now. I have just checked with Prem. Hence, closing this issue.

[2018-08-24 02:14] #142 closed

[2018-08-24 04:08] SherriBucher commented on #144
Thanks, @BhavaniSingh

[2018-08-24 04:10] SherriBucher commented on #143
These are the links to the AAP Helping Babies Survive web page, and to PATH's reprocessing guidelines. Currently embedded in the Acknowledgements.

[2018-08-24 04:12] SherriBucher commented on #128
We are still awaiting delivery of these batteries.  It is unclear how many we will receive prior to departure.

[2018-08-24 04:14] SherriBucher commented on #129
We need to begin charging and updating these Nexus 7 tablets, ASAP, even while awaiting the delivery of the batteries.  It will take several days to charge, update, and load mHBS.

[2018-08-24 20:48] #143 closed

[2018-08-24 20:54] #144 closed

[2018-08-24 20:56] sunbiz commented on #112
This has been postponed until we get feedback from field testing.
We need a final signing key to be able to CI and upload it to Play Store Console for Google App Signing.

[2018-08-24 20:59] sunbiz commented on #3
This has been coded completed in HTML and added to the mHBS Training app as a Guide Tab.
Thus, closing this issue as complete.

[2018-08-24 20:59] #3 closed

[2018-08-24 21:08] sunbiz commented on #21
For the launch, we are using the placeholder video from - https://globalhealthmedia.org/portfolio-items/keeping-the-baby-warm/?portfolioID=5623
This will be replaced by the video produced by UW for the trial.
Others videos will be uploaded to DHIS2 resources, once we are done with the trial

[2018-08-24 21:35] sunbiz commented on #42
Committed here - https://github.com/iupui-soic/dhis2-android-trackercapture/commit/eea6b436511266584937ab43eb608b0d6056cad8

Keeping the issue open, if more partner apps need to be added

[2018-08-24 21:38] sunbiz commented on #124
This has been completed here - https://github.com/iupui-soic/dhis2-android-trackercapture/commit/700a7b5e1df12ab766b41f58a0a62ccac3697d75

Tested that all the downloaded entities, when their PIN is in attribute (index 4), then it is correctly sent to the training app

[2018-08-24 21:38] #124 closed

[2018-08-27 00:44] SherriBucher opened #146 "Program actual participating health facilities into enrollment form in Tracker"
Currently, for demonstration purposes, we have placeholder health facilities (n = 4) in the enrollment form in tracker.  The Senior Foreign Investigators have provided us with a list of health facilities from Nigeria and Kenya that will most likely participate in the eHBB/mHBS study (below).  This list is subject to potential modification at the eHBB/mHBS Investigators' meeting, in Nairobi, on 8-9

[2018-08-29 22:56] BhavaniSingh opened #149 "Rename the complete and incomplete buttons in the tracker forms"
We need to rename the "complete button" to "Submit" and "incomplete" to "edit" in tracker forms of mhbs app

[2018-08-29 22:59] BhavaniSingh opened #150 "Rename the "enroll" title in hamburger menu of mhbs tracker app"
We need to rename "enroll" to "home" and remove the "+" sign beside that in hamburger menu of mhbs tracker app because the option actually just takes us to the home screen.

[2018-08-29 23:03] BhavaniSingh opened #151 "Hide developer options in mhbs tracker app"
"Developer options" should not be displayed to the user in the mHBS tracker app because it is unauthorized for the user and unnecessary for them to export any database

[2018-08-30 03:45] shbucher commented on #42
Thanks, @sunbiz .  AAP released a webinar series today, which we will eventually link within mHBS.  Probably not for the research trial version, but for our future public launch version, upon completion of the BMGF study:  https://www.aap.org/en-us/advocacy-and-policy/aap-health-initiatives/helping-babies-survive/Pages/Webinars.aspx

[2018-08-30 03:58] shbucher opened #152 "Adapt existing mHBS user guide to reflect latest version of mHBS"
@BhavaniSingh , I know you are working on this, I wanted to open an issue so that this very critical task will not falll off our radar screen.  We need to make a mHBS v2.0 user/training guide for the Nairobi project launch.

Please have a draft for you and I to review together on Sept 4, we will incorporate final edits, and get printed in time for our training of project staff on Sept 6. Thanks!

[2018-08-30 04:04] sunbiz commented on #151
Committed here - https://github.com/iupui-soic/dhis2-android-trackercapture/commit/8787df7711fc75dbce22a729f2ce258ec5cd06ca

[2018-08-30 04:04] #151 closed

[2018-08-31 17:00] sunbiz commented on #108
It is useful to have the page rotate in the mHBS training app, when the video is playing. Enabled rotation again in the training app through this commit - https://github.com/iupui-soic/mHBS_tracker/commit/7ff2ba302eda244c684e472ccf99fc0e9c705801

[2018-08-31 17:03] sunbiz commented on #21
Initial commit here - https://github.com/iupui-soic/mHBS_tracker/commit/edd74635b7047d079c9b24e9af6e24d1e218b183
Better compression of the video, and follow-up to the video player UI using an <iframe> here - https://github.com/iupui-soic/mHBS_tracker/commit/92cde99273b84105ddee37414a94118fbf305694

[2018-08-31 20:51] sunbiz commented on #149
Complete here - https://github.com/iupui-soic/dhis2-android-trackercapture/commit/39cf43bd4fde2722b8ae32a43e785f1bd7aa3468

[2018-08-31 20:51] #149 closed

[2018-08-31 20:52] sunbiz commented on #150
Committed here - https://github.com/iupui-soic/dhis2-android-trackercapture/commit/4d552e7129240f92d53dd872e4371187875b9b8a

[2018-08-31 20:52] #150 closed

[2018-08-31 20:59] BhavaniSingh commented on #129
Updated the app in S9, charged Nexus tablets and waiting for 4 tablets to get update to latest android version

[2018-09-01 04:50] BhavaniSingh commented on #129
Devices are made ready for the research trial.

[2018-09-01 04:50] #129 closed

[2018-09-11 10:29] BhavaniSingh opened #155 "Create a box folder"
Create a box folder to save ICD (Informed consent) and balance transfer receipts of the participants

[2018-09-12 13:03] sunbiz commented on #155
Discussion with Rachel that IU box will require a Duo authentication for users to access. This makes it infeasible for it to be used by RAs in Kenya. Thus, closing the issue and wont be worked on. The plan is to go back to using REDCap.

[2018-09-12 13:03] #155 closed

[2018-09-12 13:08] sunbiz opened #156 "Launch eHBB from mHBS Training"
Just like we are able to launch mHBS tracker from mHBS training, we should be able to launch the eHBB VR app. Use the same function and the way in which mHBS tracker is being launched.
We need to use the uk.ac.ox.tropicalmedicine.eHBB package to launch the app.

[2018-09-19 16:07] sunbiz commented on #1
Updates to the learner registration form (called the Profile Form):

- [ ] 1. Prior *newborn care* (fix typo) ; change to *1st, 2nd* HBB training (shorten).
- [ ] 2. After ETAT or ETAT+ field, add NEW FIELD--  ENCC (HBB, ECEB, ECSB).
- [ ] 3. At the Neonatal Resuscitation Program (NRP) modify to (NRP/NRT).
- [ ] 4. Add Essential Newborn Care (ENC).
- [ ] 5. Remove Which device are you using? (deci

[2018-09-19 16:35] BhavaniSingh opened #157 "View and add fields from the existing demographic survey to the profile form"
Please view the demographic survey from Dr. Rachel and suggest required fields via a word document to "Bhavani Singh" so that he will be adding it to the profile form digitally.

[2018-09-19 16:43] BhavaniSingh opened #158 "Educational forms should not be editable"
Educational forms such as knowledge check, OSCEs, and BMV should not be editable once submitted.

[2018-09-19 16:56] BhavaniSingh opened #159 "Create health facility site visit checklist"
Need to create a new form "Health facility site visit checklist" as a new program and send it to Bhavani Singh to be programmed digitally.
This form is used by RAs every time they visit the facility

[2018-09-19 17:00] BhavaniSingh commented on #12
Need to make additional modifications which have been discussed in Nairobi and Busia

[2018-09-19 17:05] BhavaniSingh commented on #9
Need to ensure if the current form in the mHBS app is final.

[2018-09-19 17:09] BhavaniSingh commented on #8
Need to ensure if the form in the mHBS app is final.

[2018-09-19 17:16] BhavaniSingh opened #160 "Fix the error in options of clinical forms that just show up in Samsung and study devices"
For a few options such as "Prolonged labor", "Sepsis" etc., in clinical forms, the user cannot select the option. This problem appears only in Samsung and the study devices. Hence, we need to fix this.

[2018-09-19 17:57] BhavaniSingh opened #161 "Add a comment section to BMV skill check form"
Need to add a comment section at the bottom of BMV skill check form which has been discussed in Nairobi meeting.

[2018-09-19 18:03] BhavaniSingh opened #162 "Need to add a pre-defined script at the bottom of OSCEs"
Need to add a pre-defined script at the bottom of OSCEs about the pass/fail. The script should be shown based on both the conditions i.e., score and required fields.

[2018-09-19 18:04] BhavaniSingh opened #163 "Create the script to add in OSCEs"
Create the script which will be shown in OSCEs which reflects the performance of the trainee

[2018-09-19 18:06] BhavaniSingh opened #164 "Need to remove functional required fields in OSCEs"
We need to add asterisk symbol beside the text just to show its mandatory but do not make those as functionally required fields because we don't want the user to be shown that they missed those required fields.
Reason for the change is we decided the OSCEs to be evaluation tools, not the educational tools in the scrum meeting.

[2018-09-19 18:14] BhavaniSingh opened #165 "Add fields from demographic survey into the profile form"
Need to add the fields extracted from the demographic survey into the profile form when it is sent by Dr. Sherri

[2018-09-19 19:37] BhavaniSingh opened #166 "Create health facility site visit checklist in mHBS"
Create a health facility site visit checklist as a program stage in the mHBS tracker app which is going to be used by RAs every time they visit the facility

[2018-09-19 21:28] BhavaniSingh opened #167 "Create custom designed assessment, clinical forms in dhis2 and take prints"
Prem! we cannot take the printout of all the forms such as knowledge check, OSCEs, BMV, delivery checklist etc., that are programmed in the mHBS tracker.
To make those forms into a printable format, we need to custom design those forms in dhis2 as the way they appear in the mobile app.
The reason for the printouts to look the same way as they look in the mobile app is because the research team nee

[2018-09-20 00:54] BhavaniSingh commented on #157
Sent by Dr. Sherri via mail
[DemographicAndFollowUpSurvey_O.pdf](https://github.com/iupui-soic/mHBS_tracker/files/2399174/DemographicAndFollowUpSurvey_O.pdf)

[2018-09-20 01:00] BhavaniSingh opened #168 "Need to create a new program stage in dhis2"
Need to create the follow-up survey as a program stage in dhis2.
[FollowUpSurvey_ObservationTool.pdf](https://github.com/iupui-soic/mHBS_tracker/files/2399188/FollowUpSurvey_ObservationTool.pdf)

[2018-09-21 22:52] BhavaniSingh commented on #168
Created it in Helping Babies Breathe Program

[2018-09-21 22:53] #133 closed

[2018-09-21 22:53] #131 closed

[2018-09-26 16:35] BhavaniSingh commented on #145
Please upgrade the dhis2 version of 2.27 which was released on 01.06.2017

[2018-09-26 17:07] BhavaniSingh commented on #158
Please code to hide/disable the educational forms ie., knowledge check, BMV, OSCEs in the mobile app side  so that RAs won't be able to  edit them after completion of the forms

[2018-09-26 17:17] BhavaniSingh opened #169 "Need to change frequency of tracker forms and HBB survey"
Please change tracker forms from repeatable to 3 months period and change HBB survey to quarterly period.

[2018-09-26 17:24] BhavaniSingh opened #171 "Create an automatic time stamp for OSCE B Golden Minute"
Create an automatic stamp for the golden minute for OSCE B for the data elements discussed in scrum meeting (09/26/2018)

[2018-10-05 15:33] BhavaniSingh commented on #168
Need to add RA id and provider id to this form

[2018-10-05 15:42] #128 closed

[2018-10-05 15:51] BhavaniSingh opened #173 "View data completion form"
Need to check the elements of data completion form (if any) or else it is going to be a new section.

[2018-10-05 16:02] BhavaniSingh opened #174 "Aggregate project management dashboard"
Need to discuss the following indicators (per Dr. Rachel's email on Oct/3rd):
**Indicators:**
1) Number of subjects recruited to date per country and facility
2) Which subjects have completed activities on time
3) Which subjects are behind schedule
4) Number of times intervention has been viewed
5) Individuals due for followup (within window, upcoming, and post followup window)
6) Number of times

[2018-10-05 16:11] BhavaniSingh opened #175 "Import all access credentials information into mHBS"
Need to get pins/IDs, mail ids etc., from UW and import them into mHBS

[2018-10-05 16:21] BhavaniSingh opened #176 "Include HBB 2.0 educational video into mHBS training app"
There should be only one educational video in the mHBS training app for study purpose. So, have to replace current demo video with HBB 2.0 educational video.

https://www.dropbox.com/s/z8jk9g7pq4q3aw2/HBB-2_RC2.mp4?dl=0

[2018-10-05 16:30] BhavaniSingh opened #177 "harmonize across mHBS, MOO and Busia work flow diagram"
Need to harmonize all of our tasks according to these three.

[2018-10-05 18:59] sunbiz commented on #145
DHIS2 has been upgraded to build revision: f76f870 and now the error has been fixed.

[2018-10-05 18:59] #145 closed

[2018-10-05 18:59] Premchand95 opened #178 "fix login bug in mHBS training"
bug is due to change in the index

[2018-10-08 15:30] Premchand95 commented on #176
Committed changes at dedaa2a94eef2dccefaf031b21641d467046d609

[2018-10-08 15:30] #176 closed

[2018-10-10 16:35] sunbiz commented on #156
Committed here: https://github.com/iupui-soic/mHBS_tracker/commit/fe03706c8027bd255285beeb6679e19d75c0b949

Needs testing before it gets closed.

[2018-10-10 16:38] sunbiz commented on #119
Committed here - https://github.com/iupui-soic/mHBS_tracker/commit/55085ba7a519c362e0bcdd73608081fe774ff5f3

[2018-10-10 16:38] #119 closed

[2018-10-10 16:39] sunbiz commented on #91
Added next and prev buttons in the HTML pages. Moved away from PDF and made them to HTML pages.
Commit here - https://github.com/iupui-soic/mHBS_tracker/commit/5d626f296bf06763bbc25c49adaf32620bb65b23

[2018-10-10 16:39] #91 closed

[2018-10-10 16:42] sunbiz commented on #109
Committed here - https://github.com/iupui-soic/mHBS_tracker/commit/77b1bf45867c74ce7455234838ebd8e348859529

Might have some other follow-up commits, to fix bugs or save in localstorage.

[2018-10-10 16:42] #109 closed

[2018-10-10 16:43] sunbiz commented on #50
This has been fixed through Issue #178

[2018-10-10 16:43] #50 closed

[2018-10-10 16:57] sunbiz commented on #132
Was completed in the Profile form on 08/27

[2018-10-10 16:57] #132 closed

[2018-10-10 17:02] sunbiz commented on #175
Need to create a Python script that will create a JSON from the csv with the details. Please upload the Python script and the required CSV format that UW needs to send.

Documentation here: https://lists.launchpad.net/dhis2-devs/msg48683.html

[2018-10-17 16:51] sunbiz commented on #156
Closing as its working fine.

[2018-10-17 16:51] #156 closed

[2018-10-17 16:52] sunbiz commented on #127
This has been tested and so closing it now.

[2018-10-17 16:52] #127 closed

[2018-10-17 17:00] sunbiz commented on #110
Tested with modifications in #175

[2018-10-17 17:00] #110 closed

[2018-10-17 17:01] sunbiz commented on #104
We have changed the app to use HTML for the digital guide, instead of the PDF. Closing this for now. If there are other UI changes, we can open another issue

[2018-10-17 17:01] #104 closed

[2018-11-28 16:22] sunbiz commented on #117
Tested for offline use of the training app. Marking as closed.

[2018-11-28 16:22] #117 closed

[2018-11-28 16:23] sunbiz commented on #152
We need to update the user guide based on the updated forms, and the user feedback from the survey.

[2018-11-28 16:29] sunbiz commented on #171
Not possible to do this in the mHBS tracker. We explored many possibilities and there is no generic way to do this.

[2018-11-28 16:29] #171 closed

[2018-11-28 16:41] sunbiz commented on #68
Wont be implemented anymore.

[2018-11-28 16:41] #68 closed

[2018-11-28 16:45] sunbiz opened #180 "Hide fields from the trainee list"
Fields like what brand of smartphone to own should not be shown in the trainee list. Instead, the following should be shown:
- Age
- Gender
- Ward
- Occupation
- Cadre
- Status (synced/not synced)

[2018-11-28 16:47] sunbiz commented on #180
unchecked the "do you own a smartphone" and "What brand and model..." from display in list in the DHIS2 HBS program.

[2018-11-28 16:52] sunbiz commented on #180
Renamed "what ward the health care provider is working" into Ward

[2018-11-28 17:37] sunbiz commented on #180
Final use of the list:
1. PIN
2. Ward
3. Age
4. Occupation

[2018-11-28 17:43] sunbiz commented on #165
Marking as complete

[2018-11-28 18:48] sunbiz opened #181 "Create a "delivery log" form"
Number of deliveries you have assisted during the shift (fill in the blank)
Number of BMV resuscitations you have performed during the shift (fill in the blank)
Did you practice at the HBB corner today? (Yes/No)
Please enter current data (fill in the blank)

--These are filled by trainees

[2018-11-29 23:51] Premchand95 commented on #176
committed latest at https://github.com/Premchand95/mHBS_tracker/commit/a8a599f8a0fb4541c3eb4a8755624b1babdb9b12

[2018-12-05 18:08] Premchand95 opened #182 "create dynamic program to collect enrollments from mhbs"
**PLAN B**

write a python program to collect enrollmentId's, OrgUnit and enrollment date of enrollees for every week from Monday to Sunday.
Access the scripts from https://docs.dhis2.org/2.30/en/developer/html/webapi_tracker_api.html#webapi_enrollment_management
**Step 1:**
 enrollments associated with a specific organization unit:
/api/29/enrollments.json?ou=DiszpKrYNg8
**Step 2:**
program enrol

[2018-12-07 20:36] Premchand95 commented on #176
latest commit aa7fe11df856d87766022c15694d787c23e6f3db

[2018-12-12 17:47] Premchand95 commented on #182
add "pin" along with enrollmentId's, OrgUnit and enrollment date

[2018-12-13 04:50] BhavaniSingh opened #183 "Move DHIS2 to production mode"
Step 1: After finalizing that there are no more changes that would be made in DHIS2 server. Export only the relevant elements metadata by removing unnecessary elements such as old data elements using Oxygen XML editor.
Step 2: Use the exported metadata in the DHIS2 server for production mode.

[2018-12-14 21:42] shbucher commented on #168
1.	PERMISSIONS -- Follow-up survey should be available on the trainee phones, under trainee permissions. However, hidden until May 2019, if that is a feature that is possible.

2.	General notes: Follow-up survey questions in the mHBS/DHIS2 tool version of Dec 9 - 13 appear to be out of sync with what the participant study experiences will be, based on numerous revisions from the Kenya meetings (Se

[2018-12-18 02:03] sunbiz commented on #182
@Premchand95 please upload the python notebook here.

[2018-12-18 02:04] sunbiz commented on #180
Has been fixed, and ready to be closed.

[2018-12-18 02:04] #180 closed

[2018-12-18 02:09] sunbiz opened #184 "Remove external resources and rename video link"
Before the final release of the trainer app for the BMGF trial, the following needs to be completed:
- [x] The resources should be removed from the trainer homepage.
- [x] The video link should be called "Helping Babies Breathe 2nd Edition Video"

[2018-12-19 20:30] #184 closed

[2018-12-19 21:05] BhavaniSingh commented on #40
Knowledge check, delivery and HBB activity log are the only forms that should be available to Trainee(s).
RAs should be able to see all the forms in helping babies breathe program.

[2018-12-30 22:46] BhavaniSingh opened #185 "Randomizing knowledge check form for scale-up tool"
For the scale-up tool, questions and/or answers for the HBB 2.0 knowledge check should appear in random order each time a user takes the exam

[2018-12-31 04:16] BhavaniSingh commented on #185
Same as issue #53

[2018-12-31 04:16] #185 closed

[2018-12-31 04:20] #182 closed

[2019-01-19 22:21] sunbiz commented on #183
Move to production has been completed.

The export and import for metadata was causing issues in the program rules and the way in which forms were designed and seen on DHIS2 side.

We finally switched to use a SQL dump using pg_dump (#pg_dump dhis2 > dhis2_backup.sql) for the dhis2 database from the development server and imported the SQL (#psql < dhis2_backup.sql) into the production server. Fina

[2019-01-19 22:21] #183 closed

[2019-01-19 22:34] sunbiz opened #186 "Create 9997, 9998 and 9999 PINS for demo purposes"
Based on Rachel's email (dated 1/19/2019):

So, the way to implement this. We will have the dummy enrollments with these PINs in the tracker app. These have to be downloaded to tracker, and then trainer needs to be launched. And then logged in with those PINs into training app.

[2019-01-19 22:56] sunbiz opened #187 "mHBS Training about page shows beta"
The version number for the training apps about page should be updated.

[2019-01-19 22:57] #187 closed

[2019-01-19 22:57] #186 closed

[2019-01-20 00:04] BhavaniSingh commented on #175
[All_users_final.zip](https://github.com/iupui-soic/mHBS_tracker/files/2776116/All_users_final.zip)

[2019-01-20 00:08] #175 closed

[2019-01-20 21:12] BhavaniSingh commented on #181
[Delivery and HBB Activity Log.docx](https://github.com/iupui-soic/mHBS_tracker/files/2777027/Delivery.and.HBB.Activity.Log.docx)

[2019-01-20 21:12] #181 closed

[2019-01-23 17:31] Premchand95 commented on #182
[program to get enrollments.txt](https://github.com/iupui-soic/mHBS_tracker/files/2788423/program.to.get.enrollments.txt)

[2019-01-31 14:52] SherriBucher commented on #177
This has been completed on our end, in terms of ensuring incorporation of harmonized revisions to existing mHBS Tracker tools, and developing new data collection forms, as requested from our collaborators September - December 2018. UW created a job aids file (https://drive.google.com/drive/folders/1HsANz3DPYDuBhN3rrRhuhV0-OZ4NfNky?usp=sharing  ) . UW is responsible for continuing to update the MOO

[2019-01-31 14:52] #177 closed

[2019-01-31 15:01] SherriBucher commented on #40
DHIS2 Tracker forms for the eHBB/mHBS study tool (mHBS Research) are finalized.

Final PDFs sent to UW collaborators 30 January 2019.

In the end, collaborators determined that the only forms open to Trainees on the mHBS/eHBB research tool should be Knowledge Check, Delivery and HBB Activity Log, and, at the end of the 6 month trial period, Follow-Up Survey.  All other forms visible to the Researc

[2019-01-31 15:01] #40 closed

[2019-01-31 15:02] SherriBucher commented on #166
[5_Health_facility_site_visit__mHBS research tool_eHBB_January 2019-FINAL.pdf](https://github.com/iupui-soic/mHBS_tracker/files/2817762/5_Health_facility_site_visit__mHBS.research.tool_eHBB_January.2019-FINAL.pdf)
Finished for the mHBS/eHBB research tool.

[2019-01-31 15:02] #166 closed

[2019-01-31 15:03] SherriBucher commented on #167
Completed, as noted in Issue #40.  Copies of final PDFs found in Issue 40 close out comment.

[2019-01-31 15:03] #167 closed

[2019-01-31 15:13] SherriBucher commented on #165
This is completed.  There is a mHBS folder in Box which has screen shots of the final Profile form for the mHBS/eHBB tool.  It is de-identified (e.g., no fields for name, etc), for purposes of the research study.  The Enrollment Form for the mHBS scale-up tool will have a more flexible format.

[2019-01-31 15:15] SherriBucher commented on #164
This is completed. PDFs of the HBB 2.0 OSCE tools used in the mHBS/eHBB research app are appended to issue #40

[2019-01-31 15:15] #164 closed

[2019-01-31 15:18] SherriBucher commented on #163
We added a script which provides information on whether the trainee passes/fails, and provide guidance on  what is required to pass each of the HBB 2.0 OSCEs -- both an absolute number of items must be ticked "done," and certain items (with asterisks) MUST be ticked done.  PDFs in issue #40. Some screen shots may also be available in Box folder.

[2019-01-31 15:18] #163 closed

[2019-01-31 15:19] SherriBucher commented on #162
This is done. Also see issue #163

[2019-01-31 15:19] #162 closed

[2019-01-31 15:20] SherriBucher commented on #159
Completed.  Final PDF sent to UW team 30 January 2019.
[5_Health_facility_site_visit__mHBS research tool_eHBB_January 2019-FINAL.pdf](https://github.com/iupui-soic/mHBS_tracker/files/2817830/5_Health_facility_site_visit__mHBS.research.tool_eHBB_January.2019-FINAL.pdf)

[2019-01-31 15:20] #159 closed

[2019-01-31 15:23] SherriBucher commented on #157
Completed for mHBS/eHBB research tool.  Incorporated into the Profile form.  Screen shots in the mHBS folder on Box. Also see Issue #165

[2019-01-31 15:23] #157 closed

[2019-02-11 00:25] SherriBucher commented on #174
1.  UW study coordinators were trained on the DHIS2 web interface by Indianapolis-based mHBS/DHIS2 team on 06 February 2019.

2.  UW coordinators forwarded updated list of indicators to mHBS/DHIS2 team on 08 February 2019.  Primary focus is on #2 above.

3.  @SherriBucher developed draft document for how to calculate the indicators. Upon confirmation of accuracy by UW,  @BhavaniSingh and/or @Premc

[2019-04-10 16:53] Premchand95 opened #188 "Update the mhbs server"
the current version of mHBS server cant compatible with latest dhis2 SDK

Update server version to 2.29 or more

[2019-04-10 16:58] BhavaniSingh opened #189 "Update the mHBS server"
The current version of mHBS server is not compatible with latest dhis2 SDK

Update dhis2 version to 2.29 or more

[2019-04-15 22:39] SherriBucher opened #190 "Add a link to the HBB 2.0 webinar from AAP in mHBS/DHIS2 Trainer"
https://www.aap.org/en-us/advocacy-and-policy/aap-health-initiatives/helping-babies-survive/Pages/Webinars.aspx

Please add this to the resources that are linked within mHBS/DHIS2 scale-up demo

[2019-04-16 02:35] sunbiz commented on #188
The development server bmgfdev.soic.iupui.edu has been upgraded to 2.31.3.
Notes for upgrade:
  * first upgrade to 2.29 with SQL, then 2.30 with SQL and then automatic upgrade to 2.31.3

Marking the issue as closed.

[2019-04-16 02:35] #188 closed

[2020-02-29 11:40] satyamsheel opened #192 "mHBS tracker option is irresponsive in Navigation drawer."
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/44931142/75606772-4435b500-5b16-11ea-998a-1fea7715842c.gif)

[2020-03-10 21:43] prajwal27 commented on #192
@satyamsheel It's irresponsive only if the mHBS Tracker Application is not installed. Otherwise, it opens the application on clicking the option. However, I would like to work on this issue.

[2020-04-15 19:22] #192 closed

[2021-02-22 09:09] pranavich18 commented on #190
@SherriBucher
Hey! I would like to work on this issue..
Can you tell me where do I need to add this resource exactly...

[2021-02-22 17:18] sunbiz commented on #190
@pranavich18 each of the 6 videos should be added to the videos tab, as entries into the list, and the existing video should be another entry in the list.

[2021-02-25 12:55] pranavich18 commented on #190
Ok Thanks!! I will work on it and get back to you.

[2021-02-25 17:05] pranavich18 commented on #190
@sunbiz what are the thumbnails that should be used for each of the new videos added?

[2021-03-04 03:07] sunbiz commented on #190
@pranavich18 any thumbnails from the videos